{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}
{% load i18n %}
{% block single-css %}
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/select2/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'less/manager.less' %}">
{% endblock %}
{% block content %}
<!--Content Header-->
    <section class="content-header">
        <h1>
            <i class="fa fa-cubes"></i>
            新媒体云服务平台(临时)
            <small><i class="fa fa-angle-double-right"></i>代码发布</small>
        </h1>
        <ol class="breadcrumb">
            <i class="fa fa-truck"></i>
            <li class="active">Xmt</li>
            <li><a href="{% url 'xmt:create' %}">Deploy</a></li>
        </ol>
    </section>
    <!--Content Header-->
    <!--Main Content-->
    <section class="content container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form method="post" action="" id="storage_form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">代码发布信息</h3>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-5">
                                    {% bootstrap_field form.env %}
                                </div>
                                <div class="col-md-5">
                                    {% bootstrap_field form.model %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="row">
                                        <div class="col-md-12">
                                            {% bootstrap_field form.gitlab %}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            {% bootstrap_field form.user %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    {% bootstrap_field form.info %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-offset-3 col-md-5">
                                    <button class="btn btn-app" >
                                        <i class="fa fa-check"></i> 提交
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">发布历史信息</h3>
                    </div>
                    <div class="box-body">
                <table border="2" width="1000">
<tr>
                        <th>id</th>
                        <th>发布人</th>
                        <th>发布环境</th>
                        <th>发布模块</th>
                        <th>代码版本</th>
                        <th>发布信息</th>
                        <th>发布时间</th>
                        <th>执行情况</th>
                        <th>执行结果</th>
</tr>
                            {% for mission in missions %}
                                <tr>
                                <td>{{ mission.id }}</td>
                                <td>{{ mission.user.last_name }}</td>
                                <td>{{ mission.get_env_display }}</td>
                                <td>{{ mission.get_model_display }}</td>
                                <td>{{ mission.gitlab }}</td>
                                    <td>{{ mission.info }}</td>
                                <td>{{ mission.time }}</td>
                                <td>{{ mission.get_status_display }}</td>
                                    <td><button class="btn btn-primary" onclick=result('{{ mission.get_result }}')>结果</button></td>
                                </tr>
                            {% endfor %}
</table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Main Content-->
<!--Modal-->
{% endblock %}
{% block foot_js %}
    <script src="{% static 'plugins/select2/select2.min.js' %}"></script>
    <script>
        function result(loca) {
            window.open(loca);
        }
        function historyBack() {
            window.history.go(-1);
        }
    $(document).ready(function () {
        $('.select2').select2({dropdownAutoWidth : true});
    })
        .on('click','#btn_back',function () {
            history.go(-1);
        })
    </script>
{% endblock %}