{% extends 'base.html' %}
{% load static %}
{% block single-css %}
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/select2/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'less/manager.less' %}">
{% endblock %}
{% block content %}
<!--Content Header-->
    <section class="content-header">
        <h1>
            <i class="fa fa-cubes"></i>
            新媒体云服务平台(临时)
            <small><i class="fa fa-angle-double-right"></i>更新统计</small>
        </h1>
        <ol class="breadcrumb">
            <i class="fa fa-truck"></i>
            <li class="active">Xmt</li>
            <li><a href="{% url 'xmt:statistics' %}">Statistics</a></li>
        </ol>
    </section>
    <!--Content Header-->
    <!--Main Content-->
    <section class="content container-fluid">
        <div class="row">
            <div class="col-md-5">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">用户更新占比</h3>
                    </div>
                    <div class="box-body">
                        <div id="echartsUser" style="width: 600px;height:400px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">时间浏览</h3>
                    </div>
                    <div class="box-body">
                        <div id="echartsTime" style="width: 600px;height:400px;"></div>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Main Content-->
<!--Modal-->
{% endblock %}
{% block foot_js %}
    <script src="{% static 'plugins/echarts/echarts.min.js' %}"></script>
    <script type="text/javascript">
        var echartsDeploy;
        var jsonDeploy = {{ deploylist|safe }};
        var optionDeploy = {
                tooltip : {
                    trigger: 'item',
                    formatter: "{b} - {c}次"
                },
                calculable : true,
                series : [
                    {
                        name:'用户',
                        type:'pie',
                        data:jsonDeploy
                    }
                ]
        };
{#        var optionGroup={#}
{#            tooltip : {#}
{#                    trigger: 'item',#}
{#                    formatter: "{b} - {c}台"#}
{#                },#}
{#                calculable : true,#}
{#                series : [#}
{#                    {#}
{#                        name:'应用主机数',#}
{#                        type:'pie',#}
{#                        data:jsonGroup#}
{#                    }#}
{#                ]#}
{#        };#}

        echartsDeploy = echarts.init(document.getElementById('echartsUser'));
{#        echartsGroup = echarts.init(document.getElementById('echartsGroup'));#}
        function historyBack() {
            window.history.go('/');
        }
        $(function(){
            echartsDeploy.setOption(optionDeploy);
{#            echartsGroup.setOption(optionGroup);#}
    });
    </script>
{% endblock %}