body{
   background: #3498db;
}
.main-title{
    margin-bottom: 5px;
}
.logo{
    background:url(../img/icons/png/Watches.png) center 0 no-repeat;
    background-size:100px 100px;
    height:100px;
    width:100px;
    margin:7px auto auto 35px;
    overflow: hidden;
    text-indent: -9999em;
}
.title h3{
    font-family:Flat-UI-Icons;
}
.title small {
    color: #ffffff;
    display: block;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0;
}

.navbar {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
}
#main-login{
    text-align: center;
    padding: 30px 200px 267px 30px;
    margin: 5px 77px 77px 245px;
    border-radius:6px;
}
#main-login .login-screen{
    min-height: 500px;
    border-radius: 12px;
}
#main-login .login-icon{
    top: 190px;
}
#main-login-tip{
    display:none;
    margin-top:15px;
    font-size:13px;
    color:#bfc9ca;
    text-align:center;
}

#main-page{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}
#main-about-me p{
    text-align:center;
}

h1{
    color: #b81900;
}
#main-page .ajax-toolbar{
    margin-left: -5px;
    margin-top: 10px
}

#main-page #ajax-index{
    color: #ffffff;
    margin-bottom: 0px;
    margin-top: 18px;
    text-align: left;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#main-page #ajax-logo{
    text-align: center;
    padding-left: 0px;
    padding-right: 10px;
}

#main-page #ajax-title small{
    font-size: 30px;
}

#main-page hr{
    color:#3498db;
    height:3px;
    border:0px;
    border-top:1px solid #3498db;
    margin:0px;
    padding:0px;
    overflow:hidden;
}

#main-page .fui-list-large-thumbnails{
    font-size:30px;
    float: left;
}
#main-page #ajax-link{
    float: right !important;
    margin-top: 23px;
}
#main-page #ajax-link a{
    font-size:20px;
}

#main-page .jax-toolbar-col{
    margin-left: 30px;
    margin-top: 5px;
}

#main-page #ajax-data th,td{
    color: #ffffff;
}
#main-page #ajax-data label{
    margin-top: 0px;
    margin-bottom: 20px;
}

#main-page #groupInfo .row-modal{
    margin-top:5px;
    margin-left: 5px;
    margin-bottom: 5px;
}

#main-page #batch-btn .row-batchbtn{
    margin-top:10px;
}