<section class="content-header">
    <h1>
        <i class="fa fa-exclamation-triangle"></i>
        主机 {{ object.host.hostname }}的数据库实例
        {% if object.is_slave == 1 %}
            <small style="font-weight:bold;">注意该主机为从数据库</small>
        {% endif %}
        <small><i class="fa fa-angle-double-right"></i>404 Error</small>
    </h1>
    <ol class="breadcrumb">
        <i class="fa fa-exclamation-triangle"></i>
        <li class="active">操作错误</li>
    </ol>
</section>
<!--Content Header-->
<!--Main Content-->
<section class="content container">
    <div class="row">
        <div class="col-md-12">
            <h1><i class="fa fa-exclamation-triangle"></i>操作错误</h1>
            <h2 style="text-align: center">数据库从库不支持权限管理</h2>
        </div>
    </div>
</section>