{% load static %}
{% load bootstrap3 %}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-exclamation-triangle"></i>应用组删除</h4>
</div>
<form method="post" action="{% url 'manager:groupdelete' object.id %}" id="group_form" enctype="multipart/form-data">
        {% csrf_token %}
<div class="modal-body" style="">
    {% if unable_delete == 1 %}
    <div class="row">
        <div class="col-md-5">
            <p>你确定要删除:</p>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered" id="group_tb">
            <thead>
                <tr>
                    <th>应用组名称</th>
                    <th>应用信息</th>
                    <th>管理用户列表</th>
                </tr>
            </thead>
            <tbody id="grouptbody">
                <tr>
                    <td>{{ object.name }}</td>
                    <td>{{ object.info }}</td>
                    <td>{{ object.users_list }}</td>
                </tr>
            </tbody>
            <tfoot>
            </tfoot>
        </table>
        </div>
    </div>
    {% if unable_delete == 0 %}
        <div class="row">
            <div class="col-md-12">
                <p style="font-weight:bold;">{{ detail }}</p>
            </div>
        </div>
    {% endif %}
</div>
<div class="modal-footer">
    {% if unable_delete == 1 %}
    <button class="btn btn-danger">确定</button>
    {% endif %}
    <button class="btn btn-primary" data-dismiss="modal">关闭</button>
</div>
</form>