{% load static %}
{% load bootstrap3 %}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-exclamation-triangle"></i>存储删除</h4>
</div>
<form method="post" action="{% url 'manager:storagedelete' object.id %}" id="storage_form" enctype="multipart/form-data">
        {% csrf_token %}
<div class="modal-body" style="">
        <div class="row">
            <div class="col-md-12">
                <p>你确定要删除:</p>
            </div>
        </div>
    <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered" id="host_tb">
                <thead>
                    <tr>
                        <th>存储路径</th>
                        <th>存储大小</th>
                        <th>存储信息</th>
                        <th>关联组</th>
                    </tr>
                </thead>
                <tbody id="hosttbody">
                    <tr>
                        <td>{{ object.disk_path }}</td>
                        <td>{{ object.disk_size }}</td>
                        <td>{{ object.info.name }}</td>
                        <td>{{ object.get_all_group_name }}</td>
                    </tr>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
            </div>
        </div>
</div>
<div class="modal-footer">
    <button class="btn btn-danger">确定</button>
    <button class="btn btn-primary" data-dismiss="modal">关闭</button>
</div>
</form>