{% extends 'base.html' %}
{% load static %}
{% block single-css %}
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/select2/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'less/manager.less' %}">
{% endblock %}
{% block content %}
<!--Content Header-->
    <section class="content-header">
        <h1>
            <i class="fa fa-server"></i>
            应用系统
            <small><i class="fa fa-angle-double-right"></i>列表</small>
        </h1>
        <ol class="breadcrumb">
            <i class="fa fa-truck"></i>
            <li class="active">Manager</li>
            <li><a href="/manager/group/">Group</a></li>
        </ol>
    </section>
    <!--Content Header-->
    <!--Main Content-->
    <section class="content container-fluid">
        <div class="row">
            <div class="col-md-10">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">应用系统列表</h3>
                    </div>
                    <div class="box-body">
                        <table class="table" id="group_tb">
                            <thead>
                                    <tr>
                                        <th data-field="check" data-radio="true">#</th>
                                        <th data-field="name">应用系统名称</th>
                                        <th data-field="info">应用系统信息</th>
                                        <th data-field="status" data-formatter="statusFormatter">应用系统状态</th>
                                        <th data-field="id" data-formatter="detailFormatter">细节</th>
                                    </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title" style="text-align: center">操作</h3>
                    </div>
                    <div class="box-body">
                        <form id="toolbar-group">
                        <button class="btn btn-app" id="add_group">
                            <i class="fa fa-plus"></i> 新增
                        </button>
                        <button class="btn btn-app" id="modify_group">
                            <i class="fa fa-edit"></i> 修改
                        </button>
                        </form>
                        <button class="btn btn-app" id="remove_group">
                            <i class="fa fa-times"></i> 删除
                        </button>
                        <button class="btn btn-app" disabled>
                            <i class="fa fa-info"></i> 信息
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Main Content-->
<!--Modal-->
{% endblock %}
{% block foot_js %}
    <script src="{% static 'plugins/jQuery-form/jquery.form.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-table/bootstrap-table.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-table-export/bootstrap-table-export.min.js' %}"></script>
    <script src="{% static 'plugins/tableExport/tableExport.min.js' %}"></script>
    <script>
        function historyBack() {
            window.history.go(-1);
        }
        function csrfSafeMethod(method){
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        function detailFormatter(value,row,index) {
            var label_a='<a class="btn btn-default" href="/manager/group/'+value+'/detail/">'+'<i class="fa fa-paperclip"></i>'+'</a>';
            return [label_a].join('');
        }
        function statusFormatter(value,row,index) {
            var label_status='<span class="label label-success">在线</span>'
            return [label_status].join('');
        }
        $(document).ready(function(){
            $.ajaxSetup({
               beforeSend: function (xhr,settings) {
                   if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken","{{ csrf_token }}");
                   }
               }
            });
            var table=$('#group_tb').bootstrapTable({
                url : '/api-manager/v1/group/',
                method  : 'GET',
                uniqueId :  'id',
                search  :   true,
                sortable    :   false,
                pagination  :   true,
                sidePagination  : 'client',
                clickToSelect:  true,
                singleSelect    :   true,
                showRefresh :   true,
                showColumns :    true,
                showExport: true,
                exportDataType : "basic",
                pageSize    :   15,
                pageList    :   [10, 20, 30, 40],
                dataType    :   'json',
            });
        })
            .on('click','#add_group',function () {
                var form=$('#toolbar-group');
                var action='/manager/group/create/';
                form.attr('action',action);
                location.href(action);
            })
            .on('click','#modify_group',function () {
                var form=$('#toolbar-group');
                var action='/manager/group/';
                var a=$('#group_tb').bootstrapTable('getSelections');
                if(a.length<1){
                    alert('请选择数据');
                    return false;
                }
                var obj=a[0].id;
                action+=obj+'/update/';
                form.attr('action',action);
                location.href(action);
            })
            .on('click','#remove_group',function () {
                var a=$('#group_tb').bootstrapTable('getSelections');
                if(a.length<1){
                    alert('请选择数据');
                    return false;
                }
                var data={};
                $.ajax({
                    type:"DELETE",
                    url:"/api-manager/v1/group/"+a[0].id+"/remove/",
                    data:data,
                    dataType:"json",
                    success:function(data){
                        $('#group_tb').bootstrapTable('refresh');
                    },
                    error:function(data){
                        alert(data.responseJSON.detail);
                    }
                })
            })
    </script>
{% endblock %}