{% load static %}
<div class="modal-header">
{#    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>#}
    <h4 class="modal-title" id="myModalLabel">分配/回收资产</h4>
</div>

<div class="modal-body" style="">
    <div class="row">
		<div class="col-lg-10">
			<div id="yoshell">
		    </div>
		</div>
	</div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" onclick="close_yoshell()">关闭</button>
</div>
{#<script src="{% static 'plugins/jQuery/jquery-3.2.1.min.js' %}"></script>#}
<script src="{% static 'plugins/xterm/xterm.js' %}"></script>
<script src="{% static 'plugins/xterm/addons/attach/attach.js' %}"></script>
<script src="{% static 'plugins/xterm/addons/fit/fit.js' %}"></script>
<script type="text/javascript">
    function make_yoshell(ele,size){
            tem = new Terminal({
                cols: size.cols,
                rows: size.rows,
                screenKeys: true,
                useStyle: true,
                cursorBlink: true,
            });
            tem.open(ele,false);
            var width = (size.cols+ 500).toString() + 'px';
            var height = (size.rows + 200).toString() + 'px';
            ele.style.width = width;
            ele.style.height = height;
            tem.resize(size.cols, size.rows);
            socket = new WebSocket("ws://" + "192.168.122.224:9999/manager/{{ id }}/wds/"+tem.cols+"/"+tem.rows+"/");
            tem.fit();
            tem.focus();
            socket.onopen= function () {
                tem.attach(socket);
            }
    }
    function close_yoshell() {
        socket.close();
        tem.destroy();
    }
    make_yoshell(document.getElementById('yoshell'),{'cols':300,'rows':200});
{#        $(document).ready(function () {#}
{##}
{#        })#}
</script>