{% load static %}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title" id="myModalLabel">分配/回收资产</h4>
</div>

<div class="modal-body" style="">
{#<padding-bottom: 0px;">#}
    <div id="yoshell">

    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" id="close-btn">取消</button>
    <button type="button" class="btn btn-primary" id="save-btn">保存</button>
</div>
<script src="{% static 'plugins/jQuery/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'plugins/xterm/xterm.js' %}"></script>
<script src="{% static 'plugins/xterm/addons/fullscreen/fullscreen.js' %}"></script>
<script type="text/javascript">
    function make_yoshell(ele,size) {
        var tem = new Terminal({
            cols: size.cols,
            rows: size.rows,
            screenKeys: true,
            useStyle: true,
            cursorBlink: true
        });;
        tem.open(ele,false);
        var socket_scheme = window.location.protocol == "https:" ? "wss" : "ws";
        console.log(socket_scheme+"://"+window.location.host + "/manager/{{ id }}/");
        var socket = new WebSocket(socket_scheme + '://' + window.location.host+"/manager/{{ id }}/");
        socket.onopen = function (e) {
            tem.resize(tem.cols, tem.rows)
            tem.on('keypress', function (data) {
                console.log(data);
                socket.send(JSON.stringify(['stdin', data]));
            });

            tem.on('title', function (title) {
                console.log(title);
                document.title = title;
            });
        }
        socket.onmessage = function (event) {
            json_msg = JSON.parse(event.data);
            switch (json_msg[0]) {
                case "stdout":
                    tem.write(json_msg[1]);
                    break;
                case "disconnect":
                    tem.write("\r\n\r\n[Finished...]\r\n");
                    break;
            }
        };

    }
    $(document).ready(function(){
        make_yoshell(document.getElementById('yoshell'), {rows: 40, cols: 40});
    })
</script>


{#{% extends '_modal.html' %}#}
{#{% load static %}#}
{#{% block modal_js %}#}
{#    <script src="{% static 'plugins/xterm/xterm.js' %}"></script>#}
{#    <script src="{% static 'plugins/xterm/addons/fullscreen/fullscreen.js' %}"></script>#}
{#    <script>#}
{#        function make_yoshell(ele,size){#}
{#            var tem = new Terminal({#}
{#                cols:40,#}
{#                rows:120,#}
{#                screenKeys: true,#}
{#                useStyle: true,#}
{#                cursorBlink: true#}
{#            });#}
{#            tem.open(ele,false);#}
{#            var socket = new WebSocket("ws://" + "192.168.122.244:9999/host/{{ object.id }}/");#}
{#            socket.onmessage = function (e) {#}
{##}
{#            }#}
{#            socket.onopen =function (e) {#}
{#                term.resize(tem.cols,tem.rows)#}
{#                term.on('data', function (data) {#}
{#                    <!--console.log(data);-->#}
{#                    ws.send(JSON.stringify(['stdin', data]));#}
{#                });#}
{##}
{#                term.on('title', function (title) {#}
{#                    document.title = title;#}
{#                });#}
{#            }#}
{#            socket.onmessage = function (event) {#}
{#                    json_msg = JSON.parse(event.data);#}
{#                    switch (json_msg[0]) {#}
{#                        case "stdout":#}
{#                            term.write(json_msg[1]);#}
{#                            break;#}
{#                        case "disconnect":#}
{#                            term.write("\r\n\r\n[Finished...]\r\n");#}
{#                            break;#}
{#                    }#}
{#                };#}
{#        }#}
{#    </script>#}
{#{% endblock %}#}
{#{% block modal_id %}#}
{#    manager_modal#}
{#{% endblock %}#}
{#{% block modal_class %}#}
{##}
{#{% endblock %}#}
{#{% block modal_style %}#}
{#{% endblock %}#}
{#{% block modal_title %}#}
{#    YoShell#}
{#{% endblock %}#}
{#{% block modal_body %}#}
{#    1213131123213132132131#}
{#{% endblock %}#}
{#{% block modal_confirm_id %}#}
{#    manager_modal_btn#}
{#{% endblock %}#}