{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}
{% load i18n %}
{% block single-css %}
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/select2/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'less/manager.less' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/bootstrap-fileinput/css/fileinput.min.css' %}">
{% endblock %}
{% block content %}
<!--Content Header-->
    <section class="content-header">
        <h1>
            <i class="fa fa-server"></i>
            应用系统
            <small><i class="fa fa-angle-double-right"></i>增加-修改</small>
        </h1>
        <ol class="breadcrumb">
            <i class="fa fa-truck"></i>
            <li class="active">Manager</li>
            <li><a href="/manager/group/">Group</a></li>
            <li class="active">New-Update</li>
        </ol>
    </section>
    <!--Content Header-->
    <!--Main Content-->
    <section class="content container-fluid">
        <div class="row">
            <form method="post" action="" id="group_form" enctype="multipart/form-data">
                {% csrf_token %}
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">应用组基础信息</h3>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        {% bootstrap_field form.name %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        {% bootstrap_field form.info %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">管理用户列表</h3>
                            </div>
                            <div class="box-body">
                                {% bootstrap_field form.users %}
{#                                <label class="control-label" for="id_users">管理用户列表</label>#}
{#                                <select name="users" class="select2 form-control" multiple>#}
{#                                    {% for user in users %}#}
{#                                    {% if user.id in group_users %}#}
{#                                    <option value="{{ user.id }}" selected>{{ user.get_full_name }} - {{ user.get_8531email }}</option>#}
{#                                    {% else %}#}
{#                                    <option value="{{ user.id }}">{{ user.get_full_name }} - {{ user.get_8531email }}</option>#}
{#                                    {% endif %}#}
{#                                    {% endfor %}#}
{#                                </select>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">所属主机列表</h3>
                            </div>
                            <div class="box-body">
                                {% bootstrap_field form.hosts %}
{#                                <label class="control-label" for="id_hosts">主机列表</label>#}
{#                                <select name="hosts" class="select2 form-control" multiple>#}
{#                                    {% for host in hosts %}#}
{#                                        {% if host.id in group_hosts %}#}
{#                                        <option value="{{ host.id }}" selected>{{ host.hostname }} - {{ host.service_ip }} - {{ host.info }}</option>#}
{#                                        {% else %}#}
{#                                        <option value="{{ host.id }}">{{ host.hostname }} - {{ host.service_ip }} - {{ host.info }}</option>#}
{#                                        {% endif %}#}
{#                                    {% endfor %}#}
{#                                </select>#}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box">
                                    <div class="box-header">
                                        <h3 class="box-title" style="text-align: center">操作</h3>
                                    </div>
                                    <div class="box-body">
                                        <button class="btn btn-app" id="btn_submit">
                                            <i class="fa fa-check"></i> 提交
                                        </button>
                                        <button class="btn btn-app" disabled>
                                            <i class="fa fa-reply"></i> 回退
                                        </button>
                                        <button class="btn btn-app" disabled>
                                            <i class="fa fa-times"></i> 删除
                                        </button>
                                        <button class="btn btn-app" disabled>
                                            <i class="fa fa-info"></i> 信息
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box">
                                    <div class="box-header">
                                        <h3 class="box-title" style="text-align: center">提示</h3>
                                    </div>
                                    <div class="box-body">
                                        <dd>此处填写数据为基础主机信息，逻辑层次信息在外部维护</dd>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </section>
    <!--Main Content-->
<!--Modal-->
{% endblock %}
{% block foot_js %}
    <script src="{% static 'plugins/select2/select2.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-fileinput/js/fileinput.min.js' %}"></script>
    <script>
        function historyBack() {
            window.history.go(-1);
        }
    $(document).ready(function () {
        $('.select2').select2({dropdownAutoWidth : true});
        $("#input-b5").fileinput({
            showCaption: false,
            showUpload: false,
            showPreview: true,
        });
    })
        .on('click','#btn_submit',function () {
            $('#group_form').submit();
        })
        .on('click','#btn_back',function () {
            history.go(-1);
        })
    </script>
{% endblock %}