{% extends 'base.html' %}
{% load static %}
{% block single-css %}
    <link rel="stylesheet" type="text/css" href="{% static 'less/select2.min.css' %}">
    <link rel="stylesheet/less" type="text/css" href="{% static 'less/manager.less' %}">
{% endblock %}
{% block content %}
<!--Content Header-->
<section class="content-header">
    <h1>
        搜索
        <small>控制台</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
        <li class="active">Manager</li>
        <li class="active">Search</li>
    </ol>
</section>
<!--Content Header-->
<!--Main Content-->
<section class="content container page-search">
    <div class="row">
        <h1><i class="fa fa-search"></i>  devEops - 资产搜索  </h1>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title" style="text-align: center">操作</h3>
                </div>
                <div class="box-body">
                            <dt>请使用以下规则使用搜索</dt>
                            <dt>key=value</dt><dd>单个Item项通过key和value组成</dd>
                            <dt>Item;Item</dt><dd>多个Item项通过;号分隔</dd>
                            <dt>Example</dt><dd>manage_ip=10.100.100;sshport=52000</dd>
                            <dt>可选用的key值</dt><dd>manage_ip,service_ip,outer_ip,
                    server_position,hostname,
                    groups__name,normal_user,sshport,
                    coreness,memory,root_disk,info,
                    storages__disk_size,
                    storages__disk_path</dd>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <div class="input-group">
                        <input type="text" id='manager-search-info' class="form-control" placeholder="">
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-info" id="btn-search">Search</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8" disabled="none">
                    <div class="box" disabled="none">
                        <div class="box-header">
                            <h3 class="box-title" style="text-align: center">搜索结果</h3>
                        </div>
                        <div class="box-body">
                            <table id="host_tb" class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th data-field="service_ip">服务IP</th>
                                        <th data-field="info">用途</th>
                                        <th data-field="id" data-formatter="detailFormatter">细节</th>
                                    </tr>
                                    </thead>
                                    <tbody id="hosttbody">
                                    </tbody>
                                    <tfoot>
                                    </tfoot>
                                </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Main Content-->
{% endblock %}
{% block foot_js %}
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-table.min.js'%}"></script>
    <script>
        var result_data={};
        function historyBack() {
            window.history.go(-1);
        }
        function cleanGetData(string){
            var data={};
            var strs = new Array();
            strs = string.split(';');
            for(var i=0;i<strs.length;i++){
                var st = strs[i].split('=');
                data[st[0].replace(/(^\s*)|(\s*$)/g, "")]=st[1].replace(/(^\s*)|(\s*$)/g, "");
            }
            return data;
        }
        $(document).ready(function () {
            var table=$('#host_tb').bootstrapTable({
                data:result_data,
                method  : 'GET',
                uniqueId :  'id',
                pagination  :   true,
                showExport: true,
                sidePagination  : 'client',
                clickToSelect:  true,
                singleSelect    :   true,
                pageSize    :   15,
                pageList    :   [10, 20, 30, 40],
                dataType    :   'json',
                showExport: true,
                exportDataType : "basic",
            });
        })
            .on('click','#btn-search',function () {
                var Element=document.getElementById('manager-search-info');
                var string=Element.value;
                var data =cleanGetData(string);
                $.ajax({
                    type:"GET",
                    url:"/api-manager/v1/search/",
                    data:data,
                    dataType:"json",
                    success:function(data){
                        result_data=data;
                        var table=$('#host_tb').bootstrapTable('refresh');
                    },
                    error:function(data){
                        alert(data.responseJSON.info);
                    }
                });
            })
    </script>
{% endblock %}