{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>devEops - Graduation Project</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet/less" type="text/css" href="{% static 'less/login.less' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/font-awesome/css/font-awesome.min.css' %}">
</head>
<body class="login-page">
<div class="login-box">
    <div class="login-logo">
        <a href="#"><b>devEops</b>Beta</a>
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>
        <form method="post" action="">
            {% csrf_token %}
            <div class="form-group has-feedback">
                {{ form.email }}
                <span class="fa fa-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                {{ form.passwd }}
                <span class="fa fa-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox">Remember Me
                        </label>
                    </div>
                </div>
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                </div>
            </div>
            {% if error %}
                <div class="row">
                    <div class="col-xs-5">
                        <h4>登录信息有误</h4>
                    </div>
                </div>
            {% endif %}
        </form>
    </div>
</div>

<script src="{% static 'plugins/jQuery/jquery-2.2.3.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/less/less.js' %}"></script>
</body>
</html>