{% extends 'base.html' %}
{% load static %}
{% block single-css %}
    <link rel="stylesheet" type="text/css" href="{% static 'less/select2.min.css' %}">
    <link rel="stylesheet/less" type="text/css" href="{% static 'less/manager.less' %}">
{% endblock %}
{% block content %}
<!--Content Header-->
<section class="content-header">
    <h1>
        <i class="fa fa-street-view"></i>
        人员管理
        <small><i class="fa fa-angle-double-right"></i>列表</small>
    </h1>
    <ol class="breadcrumb">
        <i class="fa fa-street-view"></i>
        <li class="active">Validate</li>
        <li><a href="/validate/user/">User</a></li>
    </ol>
</section>
<!--Content Header-->
<!--Main Content-->
<section class="content container-fluid">
    <div class="row">
        <div class="col-lg-10">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">主机列表</h3>
                </div>
                <!-- /.box-header -->
                <div id="hst-toolbar">
                    <select id="groupselect" class="select2">
                        <option id="0">Null</option>
                        {% for row in grouplist %}
                            <option id="{{ row.id }}">{{ row.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <table id="host_tb" class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th data-field="check" data-radio="true">#</th>
                                        <th data-field="systemtype">操作系统</th>
                                        <th data-field="manage_ip">管理IP</th>
                                        <th data-field="service_ip">服务IP</th>
                                        <th data-field="outer_ip">外网IP</th>
                                        <th data-field="server_position">服务器位置</th>
                                        <th data-field="info">用途</th>
                                        <th data-field="id" data-formatter="detailFormatter">细节</th>
                                    </tr>
                                    </thead>
                                    <tbody id="hosttbody">
                                    </tbody>
                                    <tfoot>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
            <div class="col-md-2">
                <div class="row">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title" style="text-align: center">主机信息</h3>
                        </div>
                        <div class="box-body">
                            <form id="toolbar-host">
                            <button class="btn btn-app" id="add_host">
                                <i class="fa fa-plus"></i> 新增主机
                            </button>
                            <button class="btn btn-app" id="modify_host">
                                <i class="fa fa-edit"></i> 修改主机
                            </button>
                            <button class="btn btn-app" disabled>
                                <i class="fa fa-times"></i> 删除
                            </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Main Content-->
{% endblock %}
{% block foot_js %}
    <script src="{% static 'js/select2.full.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-table.min.js'%}"></script>
    <script src="{% static 'js/bootstrap-table-export.min.js' %}"></script>
    <script src="{% static 'js/tableExport.min.js' %}"></script>
<script>
    function detailFormatter(value,row,index) {
        var label_a='<a class="btn btn-default" href="/manager/host/'+value+'/detail/">'+'<i class="fa fa-paperclip"></i>'+'</a>';
        return [label_a].join('');
    }
    $(document).ready(function () {
        $('.select2').select2();
        var table=$('#host_tb').bootstrapTable({
                url : '/api-manager/v1/hostbygroup/0',
                method  : 'GET',
                uniqueId :  'id',
                toolbar : '#hst-toolbar',
                search  :   true,
                sortable    :   false,
                pagination  :   true,
                showExport: true,
                sidePagination  : 'client',
                clickToSelect:  true,
                singleSelect    :   true,
                showRefresh :   true,
                showColumns :    true,
                pageSize    :   15,
                pageList    :   [10, 20, 30, 40],
                dataType    :   'json',
                showExport: true,
                exportDataType : "basic",
            });
    })
        .on('change','#groupselect',function(){
            var objSelect = document.getElementById('groupselect');
            var obj=objSelect.options[objSelect.selectedIndex].id;
            var url='/api-manager/v1/hostbygroup/'+obj;
            var table=$('#host_tb').bootstrapTable('refresh', {url :   url});
        })
        .on('click','#add_host',function () {
            var form=$('#toolbar-host');
            var action='/manager/host/create/';
            form.attr('action',action);
            location.href(action);
        })
        .on('click','#modify_host',function () {
            var form=$('#toolbar-host');
            var action='/manager/host/';
            var a=$('#host_tb').bootstrapTable('getSelections');
            if(a.length<1){
                alert('请选择数据');
                return false;
            }
            var obj=a[0].id;
            action+=obj+'/update/';
            form.attr('action',action);
            location.href(action);
        })
        function historyBack() {
            window.history.go(-1);
        }

</script>
{% endblock %}