{% extends '_modal.html' %}
{% block modal_id %}GroupInfo{% endblock %}
{% block modal_class %}modal-groupinfo{% endblock %}
{% block modal_title %}Group Info{% endblock %}
{% block modal_body %}
                <form method="post" id="form_group" enctype="application/json">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-4">
                            <p class="alert alert-danger" id="modal-error" style="display: none"></p>
                        </div>
                    </div>
                    <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>GID</label>
                            {{ form.id }}
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Group Name</label>
                            {{ form.name }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label>Group Info</label>
                            {{ form.info }}
                        </div>
                    </div>
                </div>
                </form>
{% endblock %}

{% block modal_confirm_id %}modal_group_id{% endblock %}