{% extends '_modal.html' %}
{% load static %}
{% block modal_id %}Update-Group{% endblock %}
{% block modal_class %}modal-hostupdategroup{% endblock %}
{% block modal_style %}width:600px;{% endblock %}
{% block modal_title %}主机应用组修改{% endblock %}
{% block modal_body %}
                <form method="post" id="form_host" enctype="application/json">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <select name="group" id="groupcg">
                                    {% for group in grouplist %}
                                        <option value="{{ group.id }}">{{ group.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
{% endblock %}

{% block modal_confirm_id %}modal_host_updategroup{% endblock %}
{% block modal_js %}
{% endblock %}