{% extends '_modal.html' %}
{% block modal_id %}StorageInfo{% endblock %}
{% block modal_class %}modal-storageinfo{% endblock %}
{% block modal_style %}{% endblock %}
{% block modal_title %}存储信息{% endblock %}
{% block modal_body %}
                <form method="post" id="form_storage" enctype="application/json">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-4">
                            <p class="alert alert-danger" id="modal-error" style="display: none"></p>
                        </div>
                    </div>
                    <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>存储ID</label>
                            <input id="id_id" name="id" type="text" class="form-control" readonly="yes">
                        </div>
                    </div>
                        <div class="col-md-3">
                            <label>存储所属组</label>
                            <select id="id_group" class="form-control" name="group"></select>
                        </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>存储大小</label>
                            <input id="id_disk_size" name="disk_size" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>存储路径</label>
                            <input id="id_disk_path" name="disk_path" type="text" class="form-control">
                        </div>
                    </div>
                </div>
                 <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>存储信息</label>
                            <input id="id_info" name="info" type="text" class="form-control">
                        </div>
                    </div>
                </div>
                </form>
{% endblock %}

{% block modal_confirm_id %}modal_storage_id{% endblock %}
{% block modal_js %}
<script>
    function openModal(type) {
        var objGroup=document.getElementById('id_group');
        if(type=='add'){//ADD
            cleanForm($('#form_storage'));
            $('#id_id').val('#New');
            $('#modal-error').css('display','none');
        }else if(type=='modify'){//MODIFY
            $('#modal-error').css('display','none');
            var a=$('#storage_tb').bootstrapTable('getSelections');
            if(a.length<1){
                alert('请选择数据');
            }
            else{
                $('#id_id').val(a[0].id);
                objStorage.selectedIndex=a[0].group-1;
                $('#id_disk_path').val(a[0].disk_path);
                $('#id_disk_size').val(a[0].disk_size);
                $('#id_info').val(a[0].info);
            }
        }
    }
        function cleanForm(form){
            $(':input',form).each(function(){
                var type=this.type;
                var tag=this.tagName.toLowerCase();
                if(type=='text'||type=='password'||tag=='textarea'){
                    this.value='';
                }else if(type=='checkbox'||type=='radio'){
                    this.checked=false;
                }else if(tag=='select'){
                    this.selectedIndex=-1;
                }
            });
        }
</script>

{% endblock %}