{% extends '_base.html' %}
{% load static %}
{% block content %}
<!--Content Header-->
    <section class="content-header">
        <h1>
            应用系统
            <small>控制台</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li class="active">Manager</li>
            <li class="active">Group</li>
        </ol>
    </section>
    <!--Content Header-->
    <!--Main Content-->
    <section class="content container-fluid page-group">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-default box-grouptb">
                    <div class="box-header with-border">
                        <h3 class="box-title">应用系统列表</h3>
                    </div>
                    <div class="box-body">

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Main Content-->
<!--Modal-->
{% endblock %}
{% block foot_js %}
{% endblock %}