{% extends '_base.html' %}
{% load static %}
{% block content %}
<!--Content Header-->
    <section class="content-header">
        <h1>
            应用系统
            <small>控制台</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li class="active">Manager</li>
            <li class="active">Group</li>
        </ol>
    </section>
    <!--Content Header-->
    <!--Main Content-->
    <section class="content container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">应用系统列表</h3>
                    </div>
                    <div class="box-body">
                        {{ numgroup }}
                        {{ numhost }}
                        {{ numstorage }}
                        <div id="echartsPie" style="width: 600px;height:400px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Main Content-->
<!--Modal-->
{% endblock %}
{% block foot_js %}
    <script src="{% static 'js/echarts.min.js' %}"></script>
    <script type="text/javascript">
        var echartsPie;
        var json = [
                    {value:1,name:'Centos6.5'},
                    {value:0.26,name:'Centos7.1'},
                    {value:0.24,name:'Windwos2008'}
                    ];
        var option = {
                title : {
                    text: '操作系统分布',
                    x:'center'
                },
                tooltip : {
                    trigger: 'item',
                    formatter: "{b}"
                },
                calculable : true,
                series : [
                    {
                        name:'操作系统',
                        type:'pie',
                        data:json
                    }
                ]
            };

        echartsPie = echarts.init(document.getElementById('echartsPie'));
        $(function(){
            echartsPie.setOption(option);
    });
    </script>
{% endblock %}