{% extends '_base.html' %}
{% load static %}
{% block content %}
<!--Content Header-->
    <section class="content-header">
        <h1>
            <i class="fa fa-server"></i>
            应用系统
            <small><i class="fa fa-angle-double-right"></i>列表</small>
        </h1>
        <ol class="breadcrumb">
            <i class="fa fa-truck"></i>
            <li class="active">Manager</li>
            <li><a href="/manager/group/">Group</a></li>
        </ol>
    </section>
    <!--Content Header-->
    <!--Main Content-->
    <section class="content container-fluid">
        <div class="row">
            <div class="col-md-10">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">应用系统列表</h3>
                    </div>
                    <div class="box-body">
                        <table class="table" id="group_tb">
                            <thead>
                                    <tr>
                                        <th data-field="check" data-radio="true">#</th>
                                        <th data-field="name">应用系统名称</th>
                                        <th data-field="info">应用系统信息</th>
                                        <th data-field="status" data-formatter="statusFormatter">应用系统状态</th>
                                    </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title" style="text-align: center">操作</h3>
                    </div>
                    <div class="box-body">
                        <form id="toolbar-group">
                        <button class="btn btn-app" id="add_group">
                            <i class="fa fa-plus"></i> 新增
                        </button>
                        <button class="btn btn-app" id="modify_group">
                            <i class="fa fa-edit"></i> 修改
                        </button>
                        <button class="btn btn-app" disabled>
                            <i class="fa fa-times"></i> 删除
                        </button>
                        <button class="btn btn-app" disabled>
                            <i class="fa fa-info"></i> 信息
                        </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Main Content-->
<!--Modal-->
{% endblock %}
{% block foot_js %}
    <script src="{% static 'js/jquery.form.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-table.min.js'%}"></script>
    <script src="{% static 'js/bootstrap-table-export.min.js' %}"></script>
    <script src="{% static 'js/tableExport.min.js' %}"></script>
    <script>
        function statusFormatter(value,row,index) {
            var label_status='<span class="label label-success">Alived</span>'
            return [label_status].join('');
        }
        $(document).ready(function(){
            var table=$('#group_tb').bootstrapTable({
                url : '/api-manager/v1/group/',
                method  : 'GET',
                uniqueId :  'id',
                search  :   true,
                sortable    :   false,
                pagination  :   true,
                sidePagination  : 'client',
                clickToSelect:  true,
                singleSelect    :   true,
                showRefresh :   true,
                showColumns :    true,
                showExport: true,
                exportDataType : "basic",
                pageSize    :   15,
                pageList    :   [10, 20, 30, 40],
                dataType    :   'json',
            });
        })
            .on('click','#add_group',function () {
                var form=$('#toolbar-group');
                var action='/manager/group/create/';
                form.attr('action',action);
                location.href(action);
            })
            .on('click','#modify_group',function () {
                var form=$('#toolbar-group');
                var action='/manager/group/';
                var a=$('#group_tb').bootstrapTable('getSelections');
                if(a.length<1){
                    alert('请选择数据');
                    return false;
                }
                var obj=a[0].id;
                action+=obj+'/update/';
                form.attr('action',action);
                location.href(action);
            })
    </script>
{% endblock %}