{% extends 'base.html' %}
{% block content %}
<!--Content Header-->
    <section class="content-header">
        <h1>
            Group
            <small>Control panel</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li class="active">Manager</li>
            <li class="active">Group</li>
        </ol>
    </section>
    <!--Content Header-->
    <!--Main Content-->
    <section class="content container page-group">
        <div class="row">
            <div class="col-md-10">
                <div class="box box-default box-grouptb">
                    <div class="box-header with-border">
                        <h3 class="box-title">GroupList</h3>
                    </div>
                    <div class="box-body">
                        <table class="table">
                            <tr><th>#</th><th>GID</th><th>GName</th><th>GRemark</th><th>Status</th></tr>
                            {% for row in grouplist %}
                                <tr class='grp-list'>
                                    <td><input type='radio' name='radiogp' class='minimal' checked></td>
                                    <td>{{ row.id }}</td>
                                    <td>{{ row.name }}</td>
                                    <td>{{ row.remark }}</td>
                                    <td><span class='label label-success'>Alived</span></td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="box box-default">
                    <div class="box-header">
                        <h3 class="box-title">Operation</h3>
                    </div>
                    <div class="box-body">
                        <button class="btn btn-app" data-toggle="modal" data-target="#GroupInfo" onclick="$.pageShow.groupModalPutInfo(1)">
                            <i class="fa fa-plus"></i> Add
                        </button>
                        <button class="btn btn-app" data-toggle="modal" data-target="#GroupInfo" onclick="$.pageShow.groupModalPutInfo(2)">
                            <i class="fa fa-edit"></i> Edit
                        </button>
                        <button class="btn btn-app" disabled>
                            <i class="fa fa-times"></i> Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Main Content-->
<!--Modal-->
{% include "_group_modal.html" %}
{% endblock %}
<!--
<script>
     $(document).ready(function(){
        $.pageShow.groupInit();
    });
</script>
-->

{% block foot_js %}
    <script>
        $(document).ready(function(){
            $('#modal_group_id').click(function(){
                var $form=$('$form_group');
                function success(data,textStatus,jqXHR){
                    if(data.success==true){
                        window.location.reload();
                    }else{
                        $
                    }
                }
            })
        })

    </script>
{% endblock %}