{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--Content Header-->
    <section class="content-header">
        <h1>
            应用系统
            <small>控制台</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li class="active">Manager</li>
            <li class="active">Group</li>
        </ol>
    </section>
    <!--Content Header-->
    <!--Main Content-->
    <section class="content container-fluid page-group">
        <div class="row">
            <div class="col-md-10">
                <div class="box box-default box-grouptb">
                    <div class="box-header with-border">
                        <h3 class="box-title">应用系统列表</h3>
                    </div>
                    <div class="box-body">
                        <table class="table" id="group_tb">
                            <thead>
                                    <tr>
                                        <th>#</th>
                                        <th data-field="id">应用系统ID</th>
                                        <th data-field="name">应用系统名称</th>
                                        <th data-field="info">应用系统信息</th>
                                        <th>应用系统状态</th>
                                    </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="box box-default">
                    <div class="box-header">
                        <h3 class="box-title" style="text-align: center">操作</h3>
                    </div>
                    <div class="box-body">
                        <button class="btn btn-app" data-toggle="modal" data-target="#GroupInfo" onclick="openModal(0)">
                            <i class="fa fa-plus"></i> 新增
                        </button>
                        <button class="btn btn-app" data-toggle="modal" data-target="#GroupInfo" onclick="openModal(1)">
                            <i class="fa fa-edit"></i> 修改
                        </button>
                        <button class="btn btn-app" disabled>
                            <i class="fa fa-times"></i> 删除
                        </button>
                        <button class="btn btn-app" disabled>
                            <i class="fa fa-info"></i> 信息
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Main Content-->
<!--Modal-->
{% include "_group_modal.html" %}
{% endblock %}
<!--
<script>
     $(document).ready(function(){
        $.pageShow.groupInit();
    });
</script>
-->
{% block foot_js %}
    <script src="{% static 'js/jquery.form.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-table.min.js'%}"></script>
    <script>
        $(document).ready(function(){
            var table=$('#group_tb').bootstrapTable({
                url : '/api-manager/v1/group/',
                method  : 'GET',
                uniqueId :  'id',
                toolbar : '#item_info_toolbar',
                search  :   true,
                sortable    :   false,
                pagination  :   true,
                sidePagination  : 'client',
                singleSelect    :   true,
                showRefresh :   true,
                showColumns :    true,
                pageSize    :   15,
                pageList    :   [10, 20, 30, 40],
                dataType    :   'json',
                colums  :   [
                    {
                        checkbox:true
                    },
                    {
                        title:'应用系统ID',
                        field:'id',
                        align:'center'
                    },
                    {
                        title:'应用系统名称',
                        field:'name',
                        align:'center'
                    },
                    {
                        title:'应用系统信息',
                        field:'info',
                        align:'center'
                    },
                ]
            })

            $('#group_tb').bootstrapTable('refresh');
            $('#modal_group_id').click(function(){
                //$('#modal-error').html("").css('display','none');
                //var error_modal=document.getElementById('modal-error');
                 //   error_modal.style.display="";
                var ajax_option={
                    url:"/api-manager/v1/groupcreate/",
                    type:"post",
                    success:function (data,testStatus,jqXHR) {
                        if(data.success==true){
                            window.location.reload();
                        }else{
                            $('#modal-error').html(data.msg).css('display','block');
                        }
                    }
                }
                var $form=$('#form_group');
                $form.ajaxSubmit(ajax_option);
            })
        })
    function openModal(type) {
        if(type==0){//ADD
            $('#id_id').val('#New');
            $('#id_name').val(null);
            $('#id_info').val(null);
            $('#modal-error').css('display','none');
        }else{//MODIFY
            var list=$('input:radio:checked').value;
            $('#modal-error').css('display','none');
        }
    }
    </script>
{% endblock %}