{% extends '_base.html' %}
{% load static %}
{% block content %}
<!--Content Header-->
<section class="content-header">
    <h1>
        主机
        <small>控制台</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
        <li class="active">Manager</li>
        <li class="active">Host</li>
    </ol>
</section>
<!--Content Header-->
<!--Main Content-->
<section class="content container-fluid page-host">
    <div class="row">
        <div class="col-lg-10">
            <div class="box box-hosttb">
                <div class="box-header">
                    <h3 class="box-title">主机列表</h3>
                </div>
                <!-- /.box-header -->
                <div id="hst-toolbar">
                    <select id="groupselect">
                        <option id="0">Null</option>
                        {% for row in grouplist %}
                            <option id="{{ row.id }}">{{ row.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <table id="host_tb" class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th data-field="state" data-radio="true">#</th>
                                        <th data-field="id">主机ID</th>
                                        <th data-field="systemtype">操作系统</th>
                                        <th data-field="manage_ip">管理IP</th>
                                        <th data-field="service_ip">服务IP</th>
                                        <th data-field="outer_ip">外网IP</th>
                                        <th data-field="server_position">服务器位置</th>
                                        <th data-field="hostname">主机名称</th>
                                        <th data-field="normal_user">普通用户</th>
                                        <th data-field="sshport">SSH端口</th>
                                        <th data-field="coreness">逻辑CPU</th>
                                        <th data-field="memory">内存</th>
                                        <th data-field="root_disk">根大小</th>
                                        <th data-field="info">用途</th>
                                    </tr>
                                    </thead>
                                    <tbody id="hosttbody">
                                    </tbody>
                                    <tfoot>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
            <div class="col-md-2">
                <div class="row">
                    <div class="box box-default">
                        <div class="box-header">
                            <h3 class="box-title" style="text-align: center">主机信息</h3>
                        </div>
                        <div class="box-body">
                            <form id="toolbar-host">
                            <button class="btn btn-app" id="add_host">
                                <i class="fa fa-plus"></i> 新增主机
                            </button>
                            <button class="btn btn-app" id="modify_host">
                                <i class="fa fa-edit"></i> 修改主机
                            </button>
                            <button class="btn btn-app" disabled>
                                <i class="fa fa-times"></i> 删除
                            </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Main Content-->
{% endblock %}
{% block foot_js %}
    <script src="{% static 'js/jquery.form.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-table.min.js'%}"></script>
    <script src="{% static 'js/bootstrap-table-export.min.js' %}"></script>
    <script src="{% static 'js/tableExport.min.js' %}"></script>
<script>
    $(document).ready(function () {
        var table=$('#host_tb').bootstrapTable({
                url : '/api-manager/v1/hostbygroup/0',
                method  : 'GET',
                uniqueId :  'id',
                toolbar : '#hst-toolbar',
                search  :   true,
                sortable    :   false,
                pagination  :   true,
                showExport: true,
                sidePagination  : 'client',
                clickToSelect:  true,
                singleSelect    :   true,
                showRefresh :   true,
                showColumns :    true,
                pageSize    :   15,
                pageList    :   [10, 20, 30, 40],
                dataType    :   'json',
                showExport: true,
                exportDataType : "basic",
                colums  :   [
                    {
                        checkbox:true
                    },
                    {
                        title:'主机ID',
                        field:'id',
                        align:'center'
                    },
                    {
                        title:'操作系统',
                        field:'systemtype',
                        align:'center'
                    },
                    {
                        title:'管理IP',
                        field:'manage_ip',
                        align:'center'
                    },
                    {
                        title:'服务IP',
                        field:'service_ip',
                        align:'center',
                    },
                    {
                        title:'外网IP',
                        field:'outer_ip',
                        align:'center',
                    },{
                        title:'服务器位置',
                        field:'server_position',
                        align:'center',
                    },{
                        title:'主机名称',
                        field:'hostname',
                        align:'center',
                    },{
                        title:'普通用户',
                        field:'normal_user',
                        align:'center'
                    },{
                        title:'SSH端口',
                        field:'sshport',
                        align:'center'
                    },{
                        title:'逻辑CPU',
                        field:'coreness',
                        align:'center'
                    },{
                        title:'内存',
                        field:'memory',
                        align:'center'
                    },{
                        title:'根大小',
                        field:'root_disk',
                        align:'center'
                    },{
                        title:'用途',
                        field:'info',
                        align:'center',
                    }
                ]
            });
    })
        .on('change','#groupselect',function(){
            var objSelect = document.getElementById('groupselect');
            var obj=objSelect.options[objSelect.selectedIndex].id;
            var url='/api-manager/v1/hostbygroup/'+obj;
            var table=$('#host_tb').bootstrapTable('refresh', {url :   url});
        })
        .on('click','#add_host',function () {
            var form=$('#toolbar-host');
            var action='/manager/host/create/';
            form.attr('action',action);
            location.href(action);
        })
        .on('click','#modify_host',function () {
            var form=$('#toolbar-host');
            var action='/manager/host/';
            var a=$('#host_tb').bootstrapTable('getSelections');
            if(a.length<1){
                alert('请选择数据');
                return false;
            }
            var obj=a[0].id;
            action+=obj+'/update/';
            form.attr('action',action);
            location.href(action);
        })
</script>
{% endblock %}