{% extends 'base.html' %}
{% block content %}
<!--Content Header-->
<section class="content-header">
    <h1>
        Host
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
        <li class="active">Manager</li>
        <li class="active">Host</li>
    </ol>
</section>
<!--Content Header-->
<!--Main Content-->
<section class="content container page-host">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-hosttb">
                <div class="box-header">
                    <h3 class="box-title">HostList</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-header box-toolbar">
                    <div class="row">
                        <div class="col-sm-6" style="padding-top: 15px;padding-left: 30px">
                            <label class="groupslct">Show
                                <select id="groupselect">
                                    {% for row in grouplist %}
                                    <option id="{{ row.id }}">{{ row.name }}</option>
                                    {% endfor %}
                                </select>
                                entries
                            </label>
                        </div>
                        <div class="col-md-6">
                            <div class="box-toolbar-btn">
                                <button class="btn btn-app" data-toggle="modal" data-target="#HostInfo" onclick="$.pageShow.hostModalModify(1)">
                                    <i class="fa fa-plus"></i> Add
                                </button>
                                <button class="btn btn-app" data-toggle="modal" data-target="#HostInfo" onclick="$.pageShow.hostModalModify(2)">
                                    <i class="fa fa-edit"></i> Edit
                                </button>
                                <button class="btn btn-app" disabled>
                                    <i class="fa fa-info"></i> Info
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>HostID</th>
                                        <th>Hostname</th>
                                        <th>IPAddress</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>#</th>
                                        <th>HostID</th>
                                        <th>Hostname</th>
                                        <th>IPAddress</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </div>
</section>
<!--Main Content-->
{% include "_host_modal.html" %}
{% endblock %}
{% block foot_js %}
<script>
    $(document).ready(function(){
        //$.pageShow.hostInit();

    });
</script>
{% endblock %}