{% extends '_base.html' %}
{% load static %}
{% load bootstrap3 %}
{% load i18n %}
{% block content %}
<!--Content Header-->
    <section class="content-header">
        <h1>
            存储
            <small>控制台</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li class="active">Manager</li>
            <li class="active">Storage</li>
            <li class="active">New/Update</li>
        </ol>
    </section>
    <!--Content Header-->
    <!--Main Content-->
    <section class="content container-fluid page-group">
        <div class="row">
            <div class="col-md-7">
                <form method="post" action="" id="storage_form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="box box-grouptb">
                        <div class="box-header">
                            <h3 class="box-title">存储基本信息</h3>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-4">
                                    {% bootstrap_field form.disk_size %}
                                </div>
                                <div class="col-md-4">
                                    {% bootstrap_field form.disk_path %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    {% bootstrap_field form.info %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box box-grouptb">
                        <div class="box-header">
                            <h3 class="box-title">存储逻辑信息</h3>
                        </div>
                        <div class="box-body">
                            <select name="hosts" class="select2 form-control" multiple>
                                {% for host in hosts %}
                                    {% if host.id in storage_hosts %}
                                        <option value="{{ host.id }}" selected>{{ host.hostname }} - {{ host.service_ip }}</option>
                                    {% else %}
                                        <option value="{{ host.id }}">{{ host.hostname }} - {{ host.service_ip }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="box box-default">
                        <div class="box-header">
                            <h3 class="box-title" style="text-align: center">操作</h3>
                        </div>
                        <div class="box-body">
                            <button class="btn btn-app" id="btn_submit">
                                <i class="fa fa-check"></i> 提交
                            </button>
                            <button class="btn btn-app" disabled>
                                <i class="fa fa-times"></i> 删除
                            </button>
                            <button class="btn btn-app" disabled>
                                <i class="fa fa-info"></i> 信息
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="box box-default">
                        <div class="box-header">
                            <h3 class="box-title" style="text-align: center">提示</h3>
                        </div>
                        <div class="box-body">
                            <dd>此处填写数据为基础主机信息，逻辑层次信息在应用组维护</dd>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Main Content-->
<!--Modal-->
{% endblock %}
{% block foot_js %}
    <script src="{% static 'js/select2.full.min.js' %}"></script>
    <script>
    $(document).ready(function () {
        $('.select2').select2();
    })
        .on('click','#btn_submit',function () {
            $('#storage_form').submit();
        })
    </script>
{% endblock %}