{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}
{% load i18n %}
{% block single-css %}
        <link rel="stylesheet" type="text/css" href="{% static 'plugins/select2/select2.min.css' %}">
{% endblock %}
{% block content %}
<!--Content Header-->
    <section class="content-header">
        <h1>
            <i class="fa fa-puzzle-piece"></i>
            Redis缓存
            <small><i class="fa fa-angle-double-right"></i>增加-修改</small>
        </h1>
        <ol class="breadcrumb">
            <i class="fa fa-truck"></i>
            <li class="active">Application</li>
            <li><a href="/application/db/">Redis</a></li>
            <li class="active">New-Update</li>
        </ol>
    </section>
    <!--Content Header-->
    <!--Main Content-->
    <section class="content container-fluid">
        <div class="row">
            <div class="col-md-offset-2 col-md-7">
                <form method="post" action="" id="group_form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">数据库信息</h3>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-5">
                                        {% bootstrap_field form.prefix %}
                                </div>
                                <div class="col-md-5">
                                        {% bootstrap_field form.redis_passwd %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                        {% bootstrap_field form.port %}
                                </div>
                                <div class="col-md-5">
                                        {% bootstrap_field form.pidfile %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                        {% bootstrap_field form.logfile %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                        {% bootstrap_field form.url %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                        {% bootstrap_field form.host %}
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-offset-2 col-md-7">
                <div class="row">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title" style="text-align: center">操作</h3>
                        </div>
                        <div class="box-body">
                            <button class="btn btn-app" id="btn_submit">
                                <i class="fa fa-check"></i> 提交
                            </button>
                            <button class="btn btn-app" id="btn_back">
                                <i class="fa fa-reply"></i> 回退
                            </button>
                            <button class="btn btn-app" disabled>
                                <i class="fa fa-times"></i> 删除
                            </button>
                            <button class="btn btn-app" disabled>
                                <i class="fa fa-info"></i> 信息
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title" style="text-align: center">提示</h3>
                        </div>
                        <div class="box-body">
                            <dd>此处填写数据为基础主机信息，逻辑层次信息在外部维护</dd>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Main Content-->
<!--Modal-->
{% endblock %}
{% block foot_js %}
    <script src="{% static 'plugins/select2/select2.min.js' %}"></script>
    <script>
        function historyBack() {
            window.history.go(-1);
        }
    $(document).ready(function () {
        $('.select2').select2({dropdownAutoWidth : true});
    })
        .on('click','#btn_submit',function () {
            $('#group_form').submit();
        })
        .on('click','#btn_back',function () {
            history.go(-1);
        })
    </script>
{% endblock %}