<div class="row">
     <div class="col-md-3">
        <div class="info-box">
            <span class="info-box-icon info-box-icon-red"><i class="fa fa-user"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">任务ID</span>
                <span class="info-box-text">#009CHINANO1{{ history.id }}ZBJT</span>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="info-box">
            <span class="info-box-icon info-box-icon-red"><i class="fa fa-user"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">发起用户</span>
                <span class="info-box-text">{{ history.user.get_full_name }}</span>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="info-box">
            <span class="info-box-icon info-box-icon-green"><i class="fa fa-clock-o"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">开始时间</span>
                <span class="info-box-text">{{ history.starttime }}</span>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="info-box">
            <span class="info-box-icon info-box-icon-yellow"><i class="fa fa-clock-o"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">结束时间</span>
                <span class="info-box-text">{{ history.endtime }}</span>
            </div>
        </div>
    </div>
</div>