{% extends 'base.html' %}
{% load static %}
{% block single-css %}
    <link rel="stylesheet" type="text/css" href="{% static 'less/fullcalendar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'less/fullcalendar.print.css' %}" media="print">
{% endblock %}
{% block content %}
<!--Content Header-->
    <section class="content-header">
        <h1>
            <i class="fa fa-clock-o"></i>
            时间线
            <small><i class="fa fa-angle-double-right"></i>列表</small>
        </h1>
        <ol class="breadcrumb">
            <i class="fa fa-clock-o"></i>
            <li class="active">TimeLine</li>
            <li><a href="/timeline/">List</a></li>
        </ol>
    </section>
    <!--Content Header-->
    <!--Main Content-->
    <section class="content container-fluid">
            <div class="row">
        <div class="col-md-3">
            <!-- The time line -->
            <ul class="timeline">
                <!-- timeline time label -->
                <li class="time-label">
                </li>
                <!-- /.timeline-label -->
                <!-- timeline item -->
                {% for history in historys %}
                    <li>
                        {% if history.type == 0 %}
                            <i class="fa fa-truck timeline-fa-blue"></i>
                            {% elif history.type == 1 %}
                            <i class="fa fa-newspaper-o timeline-fa-yellow"></i>
                            {% elif history.type == 2 %}
                            <i class="fa fa-magic timeline-fa-red"></i>
                        {% endif %}
                        <div class="timeline-item">
                            <span class="time"><i class="fa fa-clock-o"></i>{{ history.starttime }}</span>
                            <h3 class="timeline-header">
                                <a href="#">{{ history.get_type_display }}</a>
                                {% if history.status == 0 %}
                                    <span class='label label-info'>正在运行</span>
                                    {% elif history.status == 1 %}
                                    <span class='label label-success'>运行成功</span>
                                    {% elif history.status == 2 %}
                                    <span class='label label-danger'>运行失败</span>
                                {% endif %}
                            </h3>
                            <div class="timeline-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        {{ history.user.get_full_name }}
                                    </div>
                                </div>
                            </div>
                            <div class="timeline-footer">
                                <a class="btn btn-primary btn-xs">Read More</a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
                <li class="time-label">
                    <i class="fa fa-clock-o bg-gray"></i>
                </li>
            </ul>
        </div>
            <div class="col-md-9">
                <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">脚本信息</h3>
                        </div>
                        <div class="box-body script-body">
                            <div id="calendar"></div>
                        </div>
                </div>
            </div>
        <!-- /.col -->
    </div>
    </section>
    <!--Main Content-->
<!--Modal-->
{% endblock %}
{% block foot_js %}
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/moment.js' %}"></script>
    <script src="{% static 'js/fullcalendar.js' %}"></script>
    <script type="text/javascript">
        function historyBack() {
            window.history.go('/');
        }
        $(function () {
            var date = new Date();
            var d=date.getDate(),m=date.getMonth(),y=date.getFullYear();
            $('#calendar').fullCalendar({
                header:{
                    left:'prev,next today',
                    center:'title'
                },
                buttonText:{
                    day:'day'
                },
                editable:true,
                droppable:true,
                drop:function(date,allDay){

                }
            });
        })
    </script>
{% endblock %}