<ul class="timeline">
    <!-- timeline time label -->
    <li class="time-label">
    </li>
    <!-- /.timeline-label -->
    <!-- timeline item -->
    {% for history in historys %}
        <li>
            {% if history.type == 0 %}
                <i class="fa fa-truck timeline-fa-blue"></i>
            {% elif history.type == 1 %}
                <i class="fa fa-newspaper-o timeline-fa-yellow"></i>
            {% elif history.type == 2 %}
                <i class="fa fa-magic timeline-fa-red"></i>
            {% endif %}
            <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i>{{ history.starttime }}</span>
                <h3 class="timeline-header">
                    <a href="#">{{ history.get_type_display }}</a>
                    {% if history.status == 0 %}
                        <span class='label label-info'>正在运行</span>
                    {% elif history.status == 1 %}
                        <span class='label label-success'>运行成功</span>
                    {% elif history.status == 2 %}
                        <span class='label label-danger'>运行失败</span>
                    {% endif %}
                </h3>
                <div class="timeline-body">
                    <div class="row">
                        <div class="col-md-12">
                            {{ history.info }}
                        </div>
                    </div>
                </div>
                <div class="timeline-footer">
                    <i class="btn btn-primary btn-xs" style="font-style:normal" id="{{ history.id }}" onclick="detailRecord(this)">Read More</i>
                    <i class="btn btn-default btn-xs" style="font-style:normal">{{ history.user.get_full_name }}</i>
                </div>
            </div>
        </li>
    {% endfor %}
    <li class="time-label">
        <i class="fa fa-clock-o bg-gray"></i>
    </li>
</ul>