{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--Content Header-->
<section class="content-header">
    <h1>
        <i class="fa fa-exclamation-triangle"></i>
        404 错误
        <small><i class="fa fa-angle-double-right"></i>404 Error</small>
    </h1>
    <ol class="breadcrumb">
        <i class="fa fa-exclamation-triangle"></i>
        <li class="active">404 错误</li>
    </ol>
</section>
<!--Content Header-->
<!--Main Content-->
<section class="content container page-search">
    <div class="row">
        <h1><i class="fa fa-exclamation-triangle"></i>404 错误</h1>
        <h2 style="text-align: center">余先生在努力中...</h2>
        <h3 style="text-align: center">余先生想找一个杭州小姐姐当女朋友</h3>
    </div>
</section>
<!--Main Content-->
{% endblock %}
{% block foot_js %}

{% endblock %}