<!--Main leftbar-->
<aside class="main-sidebar">
        <section class="sidebar">
            <ul class="sidebar-menu">
                <li class="header menu-title">MAIN NAVIGATION</li>
                <li class="treeview">
                    <a href="/404" class="ajax-link">
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="/404" class="ajax-link">
                        <i class="fa fa-clock-o"></i>
                        <span>TimeLine</span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-server"></i>
                        <span>Manager</span>
                        <span>
                            <i class="fa fa-chevron-down"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu" style="display: none">
                        <li><a href="/manager/group" class="ajax-link"><i class="fa fa-group"></i>Group</a></li>
                        <li><a href="/manager/host" class="ajax-link"><i class="fa fa-laptop"></i>Host</a></li>
                        <li><a href="/manager/search" class="ajax-link"><i class="fa fa-search"></i>Search</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-magic"></i>
                        <span>Ansible</span>
                        <span>
                            <i class="fa fa-chevron-down"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu" style="display: none">
                        <li>
                            <a href="#"><i class="fa fa-sitemap"></i>Batch deployment
                                <span>
                                    <i class="fa fa-chevron-down"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu" style="display: none">
                                <li><a href="/404" class="ajax-link"><i class="fa fa-circle-o"></i>Redis</a></li>
                                <li><a href="/404" class="ajax-link"><i class="fa fa-circle-o"></i>MariaDB</a></li>
                                <li><a href="/404" class="ajax-link"><i class="fa fa-circle-o"></i>Tomcat</a></li>
                                <li><a href="/404" class="ajax-link"><i class="fa fa-circle-o"></i>Nginx</a></li>
                            </ul>
                        </li>
                        <li><a href="/404" class="ajax-link"><i class="fa fa-cogs"></i>Centralized release</a></li>
                        <li><a href="/404" class="ajax-link"><i class="glyphicon glyphicon-info-sign"></i>Configuration modify</a></li>
                        <li>
                            <a href="#"><i class="fa fa-life-ring"></i>App Control
                                <span>
                                    <i class="fa fa-chevron-down"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu" style="display: none">
                                <li><a href="/404" class="ajax-link"><i class="fa fa-circle-o"></i>Redis</a></li>
                                <li><a href="/404" class="ajax-link"><i class="fa fa-circle-o"></i>MariaDB</a></li>
                                <li><a href="/404" class="ajax-link"><i class="fa fa-circle-o"></i>Tomcat</a></li>
                                <li><a href="/404" class="ajax-link"><i class="fa fa-circle-o"></i>Nginx</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-comment-o"></i>
                        <span>Liar</span>
                        <span>
                            <i class="fa fa-chevron-down"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu" style="display: none">
                        <li><a href="/404" class="ajax-link"><i class="fa fa-houzz"></i>Tomcat</a></li>
                        <li><a href="/404" class="ajax-link"><i class="fa fa-joomla"></i>Nginx</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-gratipay"></i>
                        <span>Pavel</span>
                        <span>
                            <i class="fa fa-chevron-down"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu" style="display: none">
                        <li><a href="/404" class="ajax-link"><i class="fa fa-slideshare"></i>Save me</a></li>
                        <li><a href="/404" class="ajax-link"><i class="fa fa-viadeo"></i>Pavel</a></li>
                    </ul>
                </li>
            </ul>
        </section>
</aside>