{% extends 'base.html' %}
{% block content %}
<!--Content Header-->
    <section class="content-header">
        <h1>
            Dashboard
            <small>Control panel</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </section>
    <!--Content Header-->
    <!--Main Content-->
    <section class="content container">
    {% include '_404.html' %}
{#    <div class="row">#}
{#        <div class="col-md-2">#}
{#            <div class="box box-success">#}
{#                <div class="box-header with-border">#}
{#                    <h3 class="box-title">Removeable</h3>#}
{#                    <div class="box-tools pull-right">#}
{#                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="box-body">#}
{#                    Tgeasd ahuhda jiqw e#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#        <div class="row">#}
{#            <div class="app-bell">#}
{#                <div class="col-lg-2">#}
{#                    <div class="small-box">#}
{#                        <div class="inner" style="background-color: #605ca8">#}
{#                            <h3>4</h3>#}
{#                            <p>Redis</p>#}
{#                        </div>#}
{#                        <div class="icon">#}
{#                            <i class="fa fa-bell-o">#}
{#                            </i>#}
{#                        </div>#}
{#                        <a href="pages/host.html" class="ajax-link small-box-footer" style="background-color: #555299">More info</a>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-lg-2">#}
{#                    <div class="small-box">#}
{#                        <div class="inner" style="background-color: #39CCCC;">#}
{#                            <h3>5</h3>#}
{#                            <p>Nginx</p>#}
{#                        </div>#}
{#                        <div class="icon">#}
{#                            <i class="fa fa-bell-o">#}
{#                            </i>#}
{#                        </div>#}
{#                        <a href="pages/host.html" class="ajax-link small-box-footer" style="background-color: #30BBBB">More info</a>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-lg-2">#}
{#                    <div class="small-box">#}
{#                        <div class="inner" style="background-color: #00c0ef">#}
{#                            <h3>6</h3>#}
{#                            <p>Tomcat</p>#}
{#                        </div>#}
{#                        <div class="icon">#}
{#                            <i class="fa fa-bell-o">#}
{#                            </i>#}
{#                        </div>#}
{#                        <a href="pages/host.html" class="ajax-link small-box-footer" style="background-color: #00A7D0">More info</a>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-lg-2">#}
{#                    <div class="small-box">#}
{#                        <div class="inner" style="background-color: #FF851B">#}
{#                            <h3>64</h3>#}
{#                            <p>MySQL</p>#}
{#                        </div>#}
{#                        <div class="icon">#}
{#                            <i class="fa fa-bell-o">#}
{#                            </i>#}
{#                        </div>#}
{#                        <a href="pages/host.html" class="ajax-link small-box-footer" style="background-color: #FF7701">More info</a>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-lg-2">#}
{#                    <div class="small-box">#}
{#                        <div class="inner" style="background-color: #D81B60">#}
{#                            <h3>12</h3>#}
{#                            <p>Rabbit</p>#}
{#                        </div>#}
{#                        <div class="icon">#}
{#                            <i class="fa fa-bell-o">#}
{#                            </i>#}
{#                        </div>#}
{#                        <a href="pages/host.html" class="ajax-link small-box-footer" style="background-color: #CA195A">More info</a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="row">#}
{#            <div class="col-md-12">#}
{#                <div class="box">#}
{#                    <div class="box-header with-border">#}
{#                        <h3 class="box-title">Monthly Recap Report</h3>#}
{#                        <div class="box-tools pull-right">#}
{#                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>#}
{#                            </button>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="box-body">#}
{#                        <div class="row">#}
{#                            <div class="col-md-7">#}
{#                                <p class="text-center">#}
{#                                    <strong>Sales: 1 Jan, 2014 - 30 Jul, 2014</strong>#}
{#                                </p>#}
{#                                <div class="chart">#}
{#                                    <canvas id="salesChart" style="height: 180px;"></canvas>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-md-3">#}
{#                                <p class="text-center">#}
{#                                    <strong>Goal Completion</strong>#}
{#                                </p>#}
{#                                <div class="progress-group">#}
{#                                    <span class="progress-text">Add Producets</span>#}
{#                                    <span class="progress-number"><b>160</b>/200</span>#}
{#                                    <div class="progress sm">#}
{#                                        <div class="progress-bar progress-bar-aqua" style="width: 10%"></div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="progress-group">#}
{#                                    <span class="progress-text">Add Producets</span>#}
{#                                    <span class="progress-number"><b>10</b>/200</span>#}
{#                                    <div class="progress sm">#}
{#                                        <div class="progress-bar progress-bar-aqua" style="width: 80%"></div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="progress-group">#}
{#                                    <span class="progress-text">Add Producets</span>#}
{#                                    <span class="progress-number"><b>160</b>/200</span>#}
{#                                    <div class="progress sm">#}
{#                                        <div class="progress-bar progress-bar-aqua" style="width: 80%"></div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
    </section>
    <!--Main Content-->
{% endblock %}