{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--Content Header-->
<section class="content-header">
    <h1>
        <i class="fa fa-exclamation-triangle"></i>
        权限 错误
        <small><i class="fa fa-angle-double-right"></i>Permission Error</small>
    </h1>
    <ol class="breadcrumb">
        <i class="fa fa-exclamation-triangle"></i>
        <li class="active">权限 错误</li>
    </ol>
</section>
<!--Content Header-->
<!--Main Content-->
<section class="content container page-search">
    <div class="row">
        <h1><i class="fa fa-exclamation-triangle"></i>权限 错误</h1>
        <h2 style="text-align: center">您不具有权限访问该页面 如有需要联系管理员</h2>
    </div>
</section>
<!--Main Content-->
{% endblock %}
{% block foot_js %}

{% endblock %}