{% extends 'base.html' %}
{% load static %}
{% block single-css %}
{% endblock %}
{% block content %}
<!--Content Header-->
    <section class="content-header">
        <h1>
            <i class="fa fa-sitemap"></i>
            权限组管理
            <small><i class="fa fa-angle-double-right"></i>列表</small>
        </h1>
        <ol class="breadcrumb">
            <i class="fa fa-sitemap"></i>
            <li class="active">Authority</li>
            <li><a href="/authority/auth/">Auth</a></li>
        </ol>
    </section>
    <!--Content Header-->
    <!--Main Content-->
    <section class="content container-fluid">
        <div class="row">
            <div class="col-md-10">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">权限组列表</h3>
                    </div>
                    <div class="box-body">
                        <table class="table" id="script_tb">
                            <thead>
                                    <tr>
                                        <th data-field="check" data-radio="true">#</th>
                                        <th data-field="name">权限组名称</th>
                                        <th data-field="info">脚本信息</th>
                                        <th data-field="author_name">作者</th>
                                        <th data-field="status" data-formatter="statusFormatter">状态</th>
                                        <th data-field="id" data-formatter="scriptFormatter">详细</th>
                                    </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title" style="text-align: center">操作</h3>
                    </div>
                    <div class="box-body">
                        <form id="toolbar-script">
                        <button class="btn btn-app" id="add_script">
                            <i class="fa fa-plus"></i> 新增
                        </button>
                        <button class="btn btn-app" id="modify_script">
                            <i class="fa fa-edit"></i> 修改
                        </button>
                        <button class="btn btn-app" disabled>
                            <i class="fa fa-times"></i> 删除
                        </button>
                        <button class="btn btn-app" disabled>
                            <i class="fa fa-info"></i> 信息
                        </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Main Content-->
<!--Modal-->
{% endblock %}
{% block foot_js %}
    <script src="{% static 'js/../../../static/js_back/jquery.form.min.js' %}"></script>
    <script src="{% static 'js/../../../static/js_back/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'js/../../../static/js_back/bootstrap-table-export.min.js' %}"></script>
    <script src="{% static 'js/../../../static/js_back/tableExport.min.js' %}"></script>
    <script>
        function historyBack() {
            window.history.go(-1);
        }
        function statusFormatter(value,row,index) {
            var label_status;
            if(value==1){
                label_status='<span class="label label-success">可使用</span>';
            }else{
                label_status='<span class="label label-danger">未编辑完成</span>';
            }
            return [label_status].join('');
        }
        function scriptFormatter(value,row,index) {
            var label_a='<a class="btn btn-default" href="/operation/script/'+value+'/detail/">'+'<i class="fa fa-paperclip"></i>'+'</a>';
            return [label_a].join('');
        }
        $(document).ready(function(){
            var table=$('#script_tb').bootstrapTable({
                url : '/api-operation/v1/script/',
                method  : 'GET',
                uniqueId :  'id',
                search  :   true,
                sortable    :   false,
                pagination  :   true,
                sidePagination  : 'client',
                clickToSelect:  true,
                singleSelect    :   true,
                showRefresh :   true,
                showColumns :    true,
                showExport: true,
                exportDataType : "basic",
                pageSize    :   15,
                pageList    :   [10, 20, 30, 40],
                dataType    :   'json',
            });
        })
            .on('click','#add_script',function () {
                var form=$('#toolbar-script');
                var action='/operation/script/';
                var obj=0;
                action+=obj+'/update/';
                form.attr('action',action);
                location.href(action);
            })
            .on('click','#modify_script',function () {
                var form=$('#toolbar-script');
                var action='/operation/script/';
                var obj=0;
                var a=$('#script_tb').bootstrapTable('getSelections');
                if(a.length>=1){
                    obj=a[0].id;
                }
                action+=obj+'/update/';
                form.attr('action',action);
                location.href(action);
            })
    </script>
{% endblock %}