{% extends 'base.html' %}
{% load static %}
{% block single-css %}
        <link rel="stylesheet" type="text/css" href="{% static 'plugins/select2/select2.min.css' %}">
{% endblock %}
{% block content %}
<!--Content Header-->
    <section class="content-header">
        <h1>
            <i class="fa fa-sitemap"></i>
            权限组管理
            <small><i class="fa fa-angle-double-right"></i>列表</small>
        </h1>
        <ol class="breadcrumb">
            <i class="fa fa-sitemap"></i>
            <li class="active">Authority</li>
            <li><a href="/authority/auth/">Auth</a></li>
        </ol>
    </section>
    <!--Content Header-->
    <!--Main Content-->
    <section class="content container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">权限组配置</h3>
                    </div>
                    <div class="box-body">
                        <table class="table" id="auth_tb">
                            <thead>
                                    <tr>
                                        <th data-field="name">权限组名称</th>
                                        <th data-field="id" data-formatter="statusFormatter">配置</th>
                                    </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title" style="text-align: center">操作</h3>
                    </div>
                    <div class="box-body">
                        <form id="toolbar-script">
                        <button class="btn btn-app" id="add_script">
                            <i class="fa fa-plus"></i> 新增
                        </button>
                        <button class="btn btn-app" id="modify_script">
                            <i class="fa fa-edit"></i> 修改
                        </button>
                        <button class="btn btn-app" disabled>
                            <i class="fa fa-times"></i> 删除
                        </button>
                        <button class="btn btn-app" disabled>
                            <i class="fa fa-info"></i> 信息
                        </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title" style="text-align: center">操作</h3>
                    </div>
                    <div class="box-body">
                        <div id="auth_editor">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Main Content-->
<!--Modal-->
{% endblock %}
{% block foot_js %}
    <script src="{% static 'plugins/jQuery-form/jquery.form.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-table/bootstrap-table.js' %}"></script>
    <script src="{% static 'plugins/select2/select2.min.js' %}"></script>
    <script>
        function historyBack() {
            window.history.go(-1);
        }
        function statusFormatter(value,row,index) {
            var label_a='<button class="btn btn-default" onclick=UpdateAuth('+value+')>'+'<i class="fa fa-paperclip"></i>'+'</button>';
            return [label_a].join('');
        }
        function UpdateAuth(value) {
            var url = '/authority/auth/'+value+'/update/';
            $.ajax({
                mimeType: 'text/html; charset=utf-8', // ! Need set mimeType only when run from local file
                url: url,
                type: 'GET',
                success: function(data) {
                    $('#auth_editor').html(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                },
                dataType: "html",
                async: false
            });
            $('.select2').select2();
        }
        $(document).ready(function(){
            $('.select2').select2();
            var table=$('#auth_tb').bootstrapTable({
                url : '/api-authority/v1/auth/',
                method  : 'GET',
                uniqueId :  'id',
                sortable    :   false,
                pagination  :   true,
                sidePagination  : 'client',
                exportDataType : "basic",
                pageSize    :   20,
                pageList    :   [10, 20, 30, 40],
                dataType    :   'json',
            });
        })
            .on('click','#add_auth',function () {
                var form=$('#toolbar-script');
                var action='/operation/script/';
                var obj=0;
                action+=obj+'/update/';
                form.attr('action',action);
                location.href(action);
            })
            .on('click','#modify_auth',function () {
                var form=$('#toolbar-script');
                var action='/operation/script/';
                var obj=0;
                var a=$('#auth_tb').bootstrapTable('getSelections');
                if(a.length>=1){
                    obj=a[0].id;
                }
                action+=obj+'/update/';
                form.attr('action',action);
                location.href(action);
            })
    </script>
{% endblock %}