{% extends 'base.html' %}
{% load static %}
{% block single-css %}
{% endblock %}
{% block content %}
<!--Content Header-->
    <section class="content-header">
        <h1>
            <i class="fa fa-street-view"></i>
            人员管理
            <small><i class="fa fa-angle-double-right"></i>列表</small>
        </h1>
        <ol class="breadcrumb">
            <i class="fa fa-street-view"></i>
            <li class="active">Authority</li>
            <li><a href="/authority/group/">Group</a></li>
        </ol>
    </section>
    <!--Content Header-->
    <!--Main Content-->
    <section class="content container-fluid">
        <div class="row">
            <div class="col-md-10">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">人员列表</h3>
                    </div>
                    <div class="box-body">
                        <table class="table" id="user_tb">
                            <thead>
                                    <tr>
                                        <th data-field="check" data-radio="true">#</th>
                                        <th data-field="username">用户名</th>
                                        <th data-field="fullname">全名</th>
                                        <th data-field="email">邮箱</th>
                                        <th data-field="group_name">用户组</th>
                                        <th data-field="phone">电话号码</th>
                                        <th data-field="last_login">最后一次登陆</th>
                                        <th data-field="is_active" data-formatter="activeFormatter">状态</th>
                                    </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title" style="text-align: center">操作</h3>
                    </div>
                    <div class="box-body">
                        <form id="toolbar-user">
                        <button class="btn btn-app" id="add_user">
                            <i class="fa fa-plus"></i> 新增
                        </button>
                        <button class="btn btn-app" id="modify_user">
                            <i class="fa fa-edit"></i> 修改
                        </button>
                        </form>
                        <button class="btn btn-app" id="delete_user">
                            <i class="fa fa-times"></i> 删除
                        </button>
                        <button class="btn btn-app" disabled>
                            <i class="fa fa-info"></i> 信息
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Main Content-->
<!--Modal-->
{% endblock %}
{% block foot_js %}
    <script src="{% static 'js/jquery.form.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-table-export.min.js' %}"></script>
    <script src="{% static 'js/tableExport.min.js' %}"></script>
    <script>
        function historyBack() {
            window.history.go(-1);
        }
        function csrfSafeMethod(method){
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        function activeFormatter(value,row,index) {
            var label_status;
            if(value==1){
                label_status='<span class="label label-success">通行</span>';
            }else{
                label_status='<span class="label label-danger">禁用</span>';
            }
            return [label_status].join('');
        }
        $(document).ready(function(){
            $.ajaxSetup({
               beforeSend: function (xhr,settings) {
                   if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken","{{ csrf_token }}");
                   }
               }
            });

            var table=$('#user_tb').bootstrapTable({
                url : '/api-authority/v1/user/',
                method  : 'GET',
                uniqueId :  'id',
                search  :   true,
                sortable    :   false,
                pagination  :   true,
                sidePagination  : 'client',
                clickToSelect:  true,
                singleSelect    :   true,
                showRefresh :   true,
                showColumns :    true,
                showExport: true,
                exportDataType : "basic",
                pageSize    :   15,
                pageList    :   [10, 20, 30, 40],
                dataType    :   'json',
            });
        })
            .on('click','#add_user',function () {
                var form=$('#toolbar-user');
                var action='/authority/user/create/';
                form.attr('action',action);
                location.href(action);
            })
            .on('click','#modify_user',function () {
                var form=$('#toolbar-user');
                var action='/authority/user/';
                var obj=0;
                var a=$('#user_tb').bootstrapTable('getSelections');
                if(a.length>=1){
                    obj=a[0].id;
                }
                action+=obj+'/update/';
                form.attr('action',action);
                location.href(action);
            })
            .on('click','#delete_user',function () {
                var r=confirm('你确定要删除该用户吗?');
                 if(r == true){
                     var a=$('#user_tb').bootstrapTable('getSelections');
                    if(a.length<1){
                        alert('请选择数据');
                        return false;
                    }
                    $.ajax({
                        type:"DELETE",
                        url:"/api-authority/v1/user/"+a[0].id+"/remove/",
                        dataType:"json",
                        success:function(data){
                            $('#user_tb').bootstrapTable('refresh');
                        },
                        error:function(data){
                            alert(data.responseJSON.info);
                        }
                    })
                 }else{
                    return ;
                 }
            })
    </script>
{% endblock %}