<div class="row">
    <div class="col-md-12">
        <div class="form-group">

        </div>
    </div>
</div>
<div class="row">

    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label" for="id_mudule">模块</label>
            <input id="id_mudule" class="form-control" name="mudule" disabled="yes" value="yum" required="no" max_length="100" placeholder="模块" type="text">
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label" for="id_yumname">包名称</label>
            <input id="id_yumname" class="form-control" name="yumname" title="" required="yes" max_length="100" placeholder="包名称" type="text">
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label" for="id_state">状态</label>
            <select id="id_state" class="form-control" name="state">
                <option id="present" selected>present</option>
                <option id="installed">installed</option>
                <option id="latest">latest</option>
                <option id="absent">absent</option>
                <option id="removed">removed</option>
            </select>
        </div>
    </div>
</div>