{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}
{% block single-css %}
    <link rel="stylesheet" type="text/css" href="{% static 'less/select2.min.css' %}">
    <link rel="stylesheet/less" type="text/css" href="{% static 'less/manager.less' %}">
{% endblock %}
{% block content %}
<!--Content Header-->
<section class="content-header">
    <h1>
        <i class="fa fa-database"></i>
        主机 {{ object.host.hostname }}的数据库实例
        {% if object.is_slave == 1 %}
            <small style="font-weight:bold;">注意该主机为从数据库</small>
        {% endif %}
        <small><i class="fa fa-angle-double-right"></i>详细信息</small>
    </h1>
    <ol class="breadcrumb">
        <i class="fa fa-joomla"></i>
        <li class="active">Application</li>
        <li><a href="/application/db/">DB</a></li>
        <li class="active">Detail</li>
    </ol>
</section>
<!--Content Header-->
<!--Main Content-->
<section class="content container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title"><i class="fa fa-cogs"></i>配置信息</h3>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="info-box">
                                        <span class="info-box-icon info-box-icon-green"><i class="fa fa-wifi"></i></span>
                                        <div class="info-box-content">
                                            <span class="info-box-text">安装路径</span>
                                            <span class="info-box-text">{{ object.prefix }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="info-box">
                                        <span class="info-box-icon info-box-icon-red"><i class="fa fa-wifi"></i></span>
                                        <div class="info-box-content">
                                            <span class="info-box-text">端口</span>
                                            <span class="info-box-text">{{ object.port }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="info-box">
                                        <span class="info-box-icon info-box-icon-blue"><i class="fa fa-wifi"></i></span>
                                        <div class="info-box-content">
                                            <span class="info-box-text">套接字链接</span>
                                            <span class="info-box-text">{{ object.socket }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="info-box">
                                        <span class="info-box-icon info-box-icon-yellow"><i class="fa fa-wifi"></i></span>
                                        <div class="info-box-content">
                                            <span class="info-box-text">数据目录</span>
                                            <span class="info-box-text">{{ object.datadir }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="info-box">
                                        <span class="info-box-icon info-box-icon-green"><i class="fa fa-wifi"></i></span>
                                        <div class="info-box-content">
                                            <span class="info-box-text">应用版本</span>
                                            <span class="info-box-text">{{ object.softlib.soft_version }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title"><i class="fa fa-user"></i>数据库用户</h3>
                        </div>
                        <div class="box-body">
                            <table class="table table-bordered" style="word-break:break-all; word-wrap:break-all;">
                                <thead>
                                <tr>
                                    <th>数据库用户</th>
                                    <th>来源IP</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for user in object.get_all_user %}
                                    <tr>
                                        <td>{{ user.user }}</td>
                                        <td>{{ user.ip }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot></tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7">
             <div class="box">
                <div class="box-header">
                    <h3 class="box-title"><i class="fa fa-wifi"></i>状态信息</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">
                            <table id="db_status" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th data-field="check" data-radio="true">#</th>
                                        <th data-field="systemtype">操作系统</th>
                                        <th data-field="manage_ip">管理IP</th>
                                        <th data-field="service_ip">服务IP</th>
                                        <th data-field="outer_ip">外网IP</th>
                                        <th data-field="server_position">服务器位置</th>
                                        <th data-field="info">用途</th>
                                        <th data-field="status" data-formatter="statusFormatter">状态</th>
                                        <th data-field="id" data-formatter="detailFormatter">细节</th>
                                    </tr>
                                    </thead>
                                    <tbody id="hosttbody">
                                    </tbody>
                                    <tfoot></tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Main Content-->
{% endblock %}
{% block foot_js %}
    <script src="{% static 'js/bootstrap-table.min.js'%}"></script>
<script>
        function historyBack() {
            window.history.go(-1);
        }
    $(document).ready(function () {
        var table=$('#db_status').bootstrapTable({
                url : '/api-manager/v1/hostbygroup/0',
                method  : 'GET',
                uniqueId :  'id',
                toolbar : '#hst-toolbar',
                search  :   true,
                sortable    :   false,
                pagination  :   true,
                showExport: true,
                sidePagination  : 'client',
                clickToSelect:  true,
                singleSelect    :   true,
                showRefresh :   true,
                showColumns :    true,
                pageSize    :   15,
                pageList    :   [10, 20, 30, 40],
                dataType    :   'json',
                showExport: true,
                exportDataType : "basic",
            });
    })
</script>
{% endblock %}