<div class="row">
    <div class="col-md-12">
        <div class="form-group">

        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label" for="id_mudule">模块</label>
            <input id="id_mudule" class="form-control" name="mudule" disabled="yes" value="file" required="no" max_length="100" placeholder="模块" type="text">
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label" for="id_path">文件、文件夹</label>
            <input id="id_path" class="form-control" name="path" required="no" max_length="100" placeholder="文件、文件夹" type="text">
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label" for="id_state">状态操作</label>
            <select id="id_state" class="form-control" name="state">
                <option id="file" selected>file</option>
                <option id="link">link</option>
                <option id="directory">directory</option>
                <option id="hard">hard</option>
                <option id="touch">touch</option>
                <option id="absent">absent</option>
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label" for="id_mode">文件权限</label>
            <input id="id_mode" class="form-control" name="mode" title="" required="no" max_length="100" placeholder="文件权限" type="text">
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label" for="id_group">文件组属于</label>
            <input id="id_group" class="form-control" name="group" title="" required="no" max_length="100" placeholder="文件组属于" type="text">
        </div>
    </div>
</div>