<div class="row">
    <div class="col-md-12">
        <div class="form-group">

        </div>
    </div>
</div>
<div class="row">

    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label" for="id_mudule">模块</label>
            <input id="id_mudule" class="form-control" name="mudule" disabled="yes" value="script" required="no" max_length="100" placeholder="模块" type="text">
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label" for="id_creates">命令先制条件if</label>
            <input id="id_creates" class="form-control" name="creates" title="" required="no" max_length="100" placeholder="命令先制条件if" type="text">
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label" for="id_removes">命令先制条件not if</label>
            <input id="id_removes" class="form-control" name="removes" title="" required="no" max_length="100" placeholder="命令先制条件not if" type="text">
        </div>
    </div>

</div>
<div class="row">

    <div class="col-md-5">
        <div class="form-group">
            <label class="control-label" for="id_script_id">脚本选择</label>
            <select id="id_script_id" class="form-control" name="script_id">
                {% for script in scripts %}
                    <option id="{{ script.id }}">{{ script.name }} - {{ script.info }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

</div>