<div class="row">
    <div class="col-md-12">
        <div class="form-group">

        </div>
    </div>
</div>
<div class="row">

    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label" for="id_module">模块</label>
            <input id="id_module" class="form-control" name="module" disabled="yes" value="shell" required="no" max_length="100" placeholder="模块" type="text">
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label" for="id_chdir">命令执行目录</label>
            <input id="id_chdir" class="form-control" name="chdir" title="" required="no" max_length="100" placeholder="命令执行目录" type="text">
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label" for="id_creates">命令先制条件if</label>
            <input id="id_creates" class="form-control" name="creates" title="" required="no" max_length="100" placeholder="命令先制条件if" type="text">
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label" for="id_removes">命令先制条件not if</label>
            <input id="id_removes" class="form-control" name="removes" title="" required="no" max_length="100" placeholder="命令先制条件not if" type="text">
        </div>
    </div>

</div>
<div class="row">

    <div class="col-md-5">
        <div class="form-group">
            <label class="control-label" for="id_args">命令内容</label>
            <input id="id_args" class="form-control" name="args" title="" required="yes" max_length="100" placeholder="命令内容" type="text">
        </div>
    </div>

</div>