<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>devEops - Graduation Project</title>
    <link rel="stylesheet" href="/anweb/static/plugins/bootstrap/css/bootstrap.css">
    <link rel="stylesheet/less" type="text/css" href="/anweb/static/less/deveops.less">
    <link rel="stylesheet/less" type="text/css" href="/anweb/static/less/dashboard.less">
    <link rel="stylesheet/less" type="text/css" href="/anweb/static/less/manager.less">
    <link rel="stylesheet/less" type="text/css" href="/anweb/static/less/ansible.less">
    <link rel="stylesheet" type="text/css" href="/anweb/static/plugins/font-awesome/css/font-awesome.css">
</head>
<body>
<!--Main Page-->
<div class="wrapper">
    <!--Main topbar-->
    <header class="main-header">
        <a href="index.html" class="logo">
            <span class="logo-lg"><b>devEops</b>beta</span>
        </a>
        <nav class="navbar navbar-static-top">
            <div class="navbar-top-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown messages-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-envelope-o"></i>
                            <span class="label label-success">0</span>
                        </a>
                        <ul class="dropdown-menu">
                        </ul>
                    </li>
                    <li class="dropdown notifications-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span class="label label-warning">0</span>
                        </a>
                        <ul class="dropdown-menu">
                        </ul>
                    </li>
                    <li class="dropdown tasks-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-flag-o"></i>
                            <span class="label label-danger">0</span>
                        </a>
                        <ul class="dropdown-menu">
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!--Main leftbar-->
    <aside class="main-sidebar">
        <section class="sidebar">
            {% block sidebar %}
            <ul class="sidebar-menu">
                <li class="header menu-title">MAIN NAVIGATION</li>
                <li class="treeview">
                    <a href="/anweb/static/pages/dashboard.html" class="ajax-link">
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="/anweb/static/pages/timeline.html" class="ajax-link">
                        <i class="fa fa-clock-o"></i>
                        <span>TimeLine</span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-server"></i>
                        <span>Manager</span>
                        <span>
                            <i class="fa fa-chevron-down"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu" style="display: none">
                        <li><a href="/anweb/static/pages/group.html" class="ajax-link"><i class="fa fa-group"></i>Group</a></li>
                        <li><a href="/anweb/static/pages/host.html" class="ajax-link"><i class="fa fa-laptop"></i>Host</a></li>
                        <li><a href="/anweb/static/pages/search.html" class="ajax-link"><i class="fa fa-search"></i>Search</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-magic"></i>
                        <span>Ansible</span>
                        <span>
                            <i class="fa fa-chevron-down"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu" style="display: none">
                        <li>
                            <a href="#"><i class="fa fa-sitemap"></i>Batch deployment
                                <span>
                                    <i class="fa fa-chevron-down"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu" style="display: none">
                                <li><a href="/anweb/static/pages/batch/redis.html" class="ajax-link"><i class="fa fa-circle-o"></i>Redis</a></li>
                                <li><a href="/anweb/static/pages/batch/mariadb.html" class="ajax-link"><i class="fa fa-circle-o"></i>MariaDB</a></li>
                                <li><a href="/anweb/static/pages/batch/tomcat.html" class="ajax-link"><i class="fa fa-circle-o"></i>Tomcat</a></li>
                                <li><a href="/anweb/static/pages/batch/nginx.html" class="ajax-link"><i class="fa fa-circle-o"></i>Nginx</a></li>
                            </ul>
                        </li>
                        <li><a href="/anweb/static/pages/cen.html" class="ajax-link"><i class="fa fa-cogs"></i>Centralized release</a></li>
                        <li><a href="/anweb/static/pages/conf.html" class="ajax-link"><i class="glyphicon glyphicon-info-sign"></i>Configuration modify</a></li>
                        <li>
                            <a href="#"><i class="fa fa-life-ring"></i>App Control
                                <span>
                                    <i class="fa fa-chevron-down"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu" style="display: none">
                                <li><a href="/anweb/static/pages/app/redis.html" class="ajax-link"><i class="fa fa-circle-o"></i>Redis</a></li>
                                <li><a href="/anweb/static/pages/app/mariadb.html" class="ajax-link"><i class="fa fa-circle-o"></i>MariaDB</a></li>
                                <li><a href="/anweb/static/pages/app/tomcat.html" class="ajax-link"><i class="fa fa-circle-o"></i>Tomcat</a></li>
                                <li><a href="/anweb/static/pages/app/nginx.html" class="ajax-link"><i class="fa fa-circle-o"></i>Nginx</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-comment-o"></i>
                        <span>Liar</span>
                        <span>
                            <i class="fa fa-chevron-down"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu" style="display: none">
                        <li><a href="/anweb/static/pages/tomcat.html" class="ajax-link"><i class="fa fa-houzz"></i>Tomcat</a></li>
                        <li><a href="/anweb/static/pages/nginx.html" class="ajax-link"><i class="fa fa-joomla"></i>Nginx</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-gratipay"></i>
                        <span>Pavel</span>
                        <span>
                            <i class="fa fa-chevron-down"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu" style="display: none">
                        <li><a href="/anweb/static/pages/tomcat.html" class="ajax-link"><i class="fa fa-slideshare"></i>Save me</a></li>
                        <li><a href="/anweb/static/pages/nginx.html" class="ajax-link"><i class="fa fa-viadeo"></i>Pavel</a></li>
                    </ul>
                </li>
            </ul>
            {% endblock %}
        </section>
    </aside>
    <div class="content-wrapper">
        <div id="ajax-content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
<script src="/anweb/static/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="/anweb/static/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/anweb/static/plugins/less/less.js"></script>
<script src="/anweb/static/js/deveops.js"></script>
<!--
<script src="/anweb/static/js/datarecv.js"></script>
<script src="/anweb/static/js/pageshow.js"></script>
-->
</body>
</html>