<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>devEops - Graduation Project</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/flat-ui.min.css" rel="stylesheet">
    <link href="static/css/inin.css" rel="stylesheet">
    <link rel="shortcut icon" href="static/img/favicon.ico">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="login" id="main-login">
            <div class="login-screen">
                <div class="login-icon">
                    <img src="static/img/login/icon.png" alt="Welcome to Mail App"/>
                    <h4>Welcome to <small>devEops</small></h4>
                </div>
                <div class="login-form">
                    <div class="form-group">
                        <input type="text" class="form-control login-field" value="" placeholder="Enter your name" id="login-username" />
                        <label class="login-field-icon fui-user" for="login-username"></label>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control login-field" value="" placeholder="Password" id="login-passwd" />
                        <label class="login-field-icon fui-lock" for="login-passwd"></label>
                    </div>
                    <a class="btn btn-primary btn-lg btn-block" id="main-login-btn">Log in</a>
                </div>
                     <p id="main-login-tip">Login-Fail</p>
            </div>
        </div>
    </div>
</div>

<script>
    var login_btn=document.getElementById('main-login-btn');
    var login_username="";
    var login_passwd="";
    login_btn.onclick=function(){
        login_username=document.getElementById('login-username').value;
        login_passwd=document.getElementById('login-passwd').value;
        //此处调用登录的与后台交互的代码
        if(1)//LoginUser2Back(login_username,login_passwd))
        {//登录成功
            window.location.href="index.html";
        }else{//登录失败
            document.getElementById('main-login-tip').style.display="block";
        }
    };
</script>
<script src="static/js/jquery/jquery.min.js"></script>
<script src="static/js/flat-ui.js"></script>
<script src="static/js/bootstrap.js"></script>
<script src="static/js/ajax/deveops.js"></script>

</body>
</html>