{% extends 'base.html' %}
{% load static %}
{% block single-css %}
    <link rel="stylesheet/less" type="text/css" href="{% static 'less/operation.less' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'less/summernote.css' %}">
{% endblock %}
{% load bootstrap3 %}
{% load i18n %}
{% block content %}
<!--Content Header-->
    <section class="content-header">
    <h1>
        <i class="fa fa-superscript"></i>
        脚本
        <small><i class="fa fa-angle-double-right"></i>增加-修改</small>
    </h1>
        <ol class="breadcrumb">
            <i class="fa fa-newspaper-o"></i>
            <li class="active">Operation</li>
            <li><a href="/operation/script/">Script</a></li>
            <li class="active">New-Update</li>
        </ol>
    </section>
    <!--Content Header-->
    <!--Main Content-->
    <section class="content container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3">
                        <div class="box">
                            <div class="box-header">
                            <h3 class="box-title">代码块添加</h3>
                            </div>
                            <div class="box-body">
                                <button class="btn btn-app" type="button" id="script_while">
                                    <i class="fa fa-spinner"></i> While循环
                                </button>
                                <button class="btn btn-app" type="button" id="script_case">
                                    <i class="fa fa-arrows"></i> Case选择
                                </button>
                                <button class="btn btn-app" type="button" id="script_for">
                                    <i class="fa fa-spinner"></i> For循环
                                </button>
                                <button class="btn btn-app" type="button" id="script_function">
                                    <i class="fa fa-eercast"></i> Function函数
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="box">
                            <div class="box-header">
                            <h3 class="box-title">文本操作</h3>
                            </div>
                            <div class="box-body">
                                <button class="btn btn-app" type="button" id="script_commit">
                                    <i class="fa fa-check"></i> Commit
                                </button>
                                <button class="btn btn-app" type="button" id="script_undo">
                                    <i class="fa fa-mail-reply"></i> Undo
                                </button>
                                <button class="btn btn-app" type="button" id="script_redo">
                                    <i class="fa fa-mail-forward "></i> Redo
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="box">
                            <div class="box-header">
                            <h3 class="box-title">可修改参数添加</h3>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-offset-2 col-md-3">
                                        <label class="control-label" for="id_args_name">参数名称</label>
                                        <input name="args_name" title="" required="" id="id_args_name" maxlength="100" placeholder="参数名称" class="form-control" type="text">
                                    </div>
                                    <div class="col-md-2">
                                        <button class="btn btn-app" type="button" id="args_add">
                                            <i class="fa fa-plus"></i> ==
                                        </button>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label" for="id_args_value">参数默认数值</label>
                                        <input name="args_value" title="" required="" id="id_args_value" maxlength="100" placeholder="参数默认" class="form-control" type="text">
                                    </div>
                                    <div class="col-md-2">
                                        <button class="btn btn-app" type="button" id="args_remove">
                                            <i class="fa fa-plus"></i> --
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <table id="args_tb" class="table table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th data-field="check" data-radio="true">#</th>
                                                <th data-field="args_name">参数名称</th>
                                                <th data-field="args_value">参数默认数值</th>
                                            </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <form method="post" action="" id="script_form" enctype="multipart/form-data">
                    {% csrf_token %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">脚本书写</h3>
                            </div>
                            <div class="box-body">
                                {% bootstrap_field form.script %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">脚本书写</h3>
                            </div>
                            <div class="box-body">
                                信息提示
                                <input name="status" id="status" type="hidden">
                            </div>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </section>
    <!--Main Content-->
<!--Modal-->
{% endblock %}
{% block foot_js %}
    <script src="{% static 'js/jquery.form.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-table.min.js'%}"></script>
    <script src="{% static 'js/operation.js' %}"></script>
    <script src="{% static 'js/summernote.js' %}"></script>
    <script>
        var avrg_list;
        var Ele_textarea=$('#id_script');
    $(document).ready(function () {
        avrg_list=Normal_Args;
        $.ajaxSetup({
           data:{csrfmiddlewaretoken:'{{ csrf_token }}'}
        });
        var table=$('#args_tb').bootstrapTable({
                url : '/api-operation/v1/script/{{ id }}/args/',
                method  : 'GET',
                clickToSelect:  true,
                singleSelect    :   true,
                dataType    :   'json',
                onLoadSuccess:function(data){
                    avrg_list=Normal_Args;
                    for(var i=0;i<data.length;i++){
                        avrg_list.push(data[i].args_name);
                    }
                }
            });

        Ele_textarea.summernote({
            height:500,
            maxHeight:500,
            minHeight:500,
            fontSizes:50,
            toolbar:false,
            disableDragAndDrop:false,
            hint: {
                words: avrg_list,
                match: /((^\/\w{1,}\/\w{1,})$|(\b(\w{1,})$))/,      /*   (\/(\w{1,}\/{0,1}\w{1,})$|\b(\w{1,})$) */
                search: function (keyword, callback) {
                    callback($.grep(this.words, function (item) {
                        if(item[0]=='/'){
                            if(keyword[0]=='/'){
                                return item.indexOf(keyword) === 0;
                            }
                            return item.indexOf('/'+keyword) === 0;
                        }else{
                            return item.indexOf(keyword) === 0;
                        }
                    }));
                }
            },
        });
    })
        .on('click','#script_while',function () {
            insertAtTextAreaForWhileFunctionCode(Ele_textarea,'WHILE');
        })
        .on('click','#script_for',function () {
            //insertAtTextArea(Ele_textarea,Script['FOR']);
            insertAtTextAreaForWhileFunctionCode(Ele_textarea,'FOR');
        })
        .on('click','#script_case',function () {
            //insertAtTextArea(Ele_textarea,Script['CASE']);
            insertAtTextAreaCaseCode(Ele_textarea);
        })
        .on('click','#script_function',function () {
            insertAtTextAreaForWhileFunctionCode(Ele_textarea,'FUNCTION');
        })
        .on('click','#script_undo',function () {
            Ele_textarea.summernote('undo');
        })
        .on('click','#script_redo',function () {
            Ele_textarea.summernote('redo');
        })
        .on('click','#script_commit',function(){
            historyBack();
        })
        .on('click','#args_add',function(){
            var argsname=$('#id_args_name')[0].value;
            var argsvalue=$('#id_args_value')[0].value;
            var data={'args_name':argsname,'args_value':argsvalue};
            $.ajax({
                type:"POST",
                url:"/api-operation/v1/scriptargs/"+"{{ id }}"+"/create/",
                data:data,
                dataType:"json",
                success:function(data){
                    $('#args_tb').bootstrapTable('refresh');
                },
                error:function(data){
                    alert(data.responseJSON.info);
                }
            });
        })
        .on('click','#args_remove',function () {
            var a=$('#args_tb').bootstrapTable('getSelections');
            if(a.length<1){
                alert('请选择数据');
                return false;
            }
            var argsname=a[0].args_name;
            for(var i =0;i<avrg_list.length;i++){
                if(avrg_list[i] == argsname){
                    avrg_list.splice(i,1);
                    break;
                }
            }
        })
    function historyBack() {
         var r=confirm('你要将此脚本保存为可使用状态吗');
         if(r==true){
            $('#status').val("1");
         }else{
            $('#status').val("0");
         }
        $('#script_form').submit();
    }
    </script>
{% endblock %}