{% extends 'base.html' %}
{% load static %}
{% block single-css %}
{% endblock %}
{% block content %}
<!--Content Header-->
    <section class="content-header">
        <h1>
            <i class="fa fa-cogs"></i>
            基础配置管理
            <small><i class="fa fa-angle-double-right"></i>列表</small>
        </h1>
        <ol class="breadcrumb">
            <i class="fa fa-clock-o"></i>
            <li class="active">Utils</li>
        </ol>
    </section>
    <!--Content Header-->
    <!--Main Content-->
    <section class="content container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="box">
                <div class="box-header">
                    <h3 class="box-title">主机列表</h3>
                </div>
                <!-- /.box-header -->
                <div id="hst-toolbar">
                </div>
                    <div class="box-body">
                        123
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
            <div class="col-md-6">
<t>                                                                                                                                                                                                                                                                                         </t>
            </div>
        </div>
    </section>
    <!--Main Content-->
<!--Modal-->
{% endblock %}
{% block foot_js %}
    <script type="text/javascript">
        function historyBack() {
            window.history.go('/');
        }
    </script>
{% endblock %}