{% extends 'base.html' %}
{% load static %}
{% block single-css %}
{% endblock %}
{% block content %}
<!--Content Header-->
    <section class="content-header">
        <h1>
            <i class="fa fa-rocket"></i>
            其他配置
            <small><i class="fa fa-angle-double-right"></i>列表</small>
        </h1>
        <ol class="breadcrumb">
            <i class="fa fa-clock-o"></i>
            <li class="active">Utils</li>
        </ol>
    </section>
    <!--Content Header-->
    <!--Main Content-->
    <section class="content container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title" style="text-align: center">系统类型</h3>
                    </div>
                    <div class="box-body">
                        <table id="systype_tb" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th data-field="check" data-radio="true">#</th>
                                <th data-field="name">类型名称</th>
                                <th data-field="host_sum">主机数目</th>
                            </tr>
                            </thead>
                            <tbody id="hosttbody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title" style="text-align: center">系统类型修改</h3>
                    </div>
                    <div class="box-body">
                        <button class="btn btn-app" id="add_systype">
                            <i class="fa fa-plus"></i> 新增系统类型
                        </button>
                        <button class="btn btn-app" id="remove_systype">
                            <i class="fa fa-times"></i> 删除系统类型
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-offset-1 col-md-4">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title" style="text-align: center">系统类型</h3>
                    </div>
                    <div class="box-body">
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title" style="text-align: center">主机信息</h3>
                    </div>
                    <div class="box-body">
                        <button class="btn btn-app" id="add_host">
                            <i class="fa fa-plus"></i> 新增主机
                        </button>
                        <button class="btn btn-app" id="remove_host">
                            <i class="fa fa-times"></i> 删除主机
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Main Content-->

<!-- 模态框（Modal） -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg">
      <div class="modal-content" id="box">
        <!--此部分为主体内容，将远程加载进来-->
      </div>
   </div>
</div>

{% endblock %}
{% block foot_js %}
    <script src="{% static 'plugins/bootstrap-table/bootstrap-table.js' %}"></script>
    <script type="text/javascript">
        function historyBack() {
            window.history.go('/');
        }
        $(document).ready(function () {
        $('#modal').on("hidden.bs.modal", function() {
            $(this).removeData("bs.modal");
        });
        var table=$('#systype_tb').bootstrapTable({
                url : '/api-utils/v1/systype',
                method  : 'GET',
                uniqueId :  'id',
                cache   :   false,
                sortable    :   false,
                pagination  :   true,
                showExport: true,
                sidePagination  : 'client',
                clickToSelect:  true,
                singleSelect    :   true,
                pageSize    :   10,
                pageList    :   [10, 20, 30, 40],
                dataType    :   'json',
                exportDataType : "basic"
            });
    })
        .on('click','#remove_systype',function () {
            var a=$('#systype_tb').bootstrapTable('getSelections');
            if(a.length<1){
                alert('请选择数据');
                return false;
            }
            $('#modal').modal({
                show: true,
                backdrop: 'static',
                keyboard: 'false',
                remote:"/utils/systype/"+a[0].id+"/delete/"
            });
        })

    </script>
{% endblock %}