{% extends 'base.html' %}
{% load static %}
{% block single-css %}
    <link rel="stylesheet" type="text/css" href="{% static 'less/../../../static/css_back/select2.min.css' %}">
    <link rel="stylesheet/less" type="text/css" href="{% static 'less/../../../static/css_back/manager.less' %}">
{% endblock %}
{% block content %}
<!--Content Header-->
<section class="content-header">
    <h1>
        搜索
        <small>控制台</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
        <li class="active">Manager</li>
        <li class="active">Search</li>
    </ol>
</section>
<!--Content Header-->
<!--Main Content-->
<section class="content container">
    <div class="row">
        <h1><i class="fa fa-search"></i>  devEops</h1>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title" style="text-align: center">操作</h3>
                </div>
                <div class="box-body">
                    <dt>请使用以下规则使用搜索</dt>
                    <dt>key=value</dt><dd>单个Item项通过key和value组成</dd>
                    <dt>Item;Item</dt><dd>多个Item项通过;号分隔</dd>
                    <dt>Example</dt><dd>port=3306;prefix=/usr/local</dd>
                    <dt>可选用的key值</dt><dd>port,prefix,version,online</dd>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="input-group">
                <input type="text" id='manager-search-info' class="form-control manager-search-input">
                <span class="input-group-btn">
                <button type="button" class="btn btn-info" onclick="searchManager()">Search</button>
            </span>
        </div>
        </div>
    </div>
</section>
<!--Main Content-->
{% endblock %}
{% block foot_js %}
    <script src="{% static 'js/../../../static/js_back/jquery-3.2.1.min.js' %}"></script>
    <script>
        function historyBack() {
            window.history.go(-1);
        }
        function searchManager(){
            var Element=document.getElementById('manager-search-info');
            var string=Element.value;
            //$.ajax()
        }
    </script>
{% endblock %}